.products {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='334' viewBox='0 0 19 314' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 313.535H0.9375L0.9375 308.695H7.33594V303.75H0.9375L0.9375 298.922H18L18 303.75H11.0742V308.695H18V313.535ZM18 296.954L0.890625 290.708L0.890625 285.388L18 279.048L18 284.157L6.9375 287.978C6.66406 288.071 6.40625 288.142 6.16406 288.188C5.92188 288.235 5.69922 288.278 5.49609 288.317V288.399C5.69922 288.431 5.92578 288.474 6.17578 288.528C6.41797 288.575 6.67188 288.642 6.9375 288.728L18 292.478V296.954ZM14.9063 292.806L11.5664 291.927L11.5664 284.474L14.9063 283.571V292.806ZM18 277.068H0.9375L0.9375 269.955C0.9375 267.947 1.42969 266.361 2.41406 265.197C3.39063 264.025 4.78125 263.439 6.58594 263.439C8.42188 263.439 9.85156 264.037 10.875 265.232C11.8984 266.428 12.4102 268.01 12.4102 269.978V272.228H18V277.068ZM9.09375 272.228V270.482C9.09375 269.693 8.89063 269.135 8.48438 268.807C8.07813 268.471 7.48828 268.299 6.71484 268.291C5.95703 268.291 5.37891 268.459 4.98047 268.795C4.58203 269.131 4.38281 269.693 4.38281 270.482V272.228H9.09375ZM18 268.068L10.3125 271.654L9.87891 266.744L18 262.701V268.068ZM18 260.335H0.9375L0.9375 253.89C0.9375 251.546 1.62891 249.612 3.01172 248.089C4.39453 246.557 6.37109 245.792 8.94141 245.792H9.97266C12.5352 245.792 14.5156 246.557 15.9141 248.089C17.3047 249.62 18 251.554 18 253.89L18 260.335ZM14.5898 255.565V254.112C14.5898 253.112 14.2461 252.3 13.5586 251.675C12.8711 251.042 11.7813 250.725 10.2891 250.725H8.66016C7.16016 250.725 6.07813 251.042 5.41406 251.675C4.74219 252.3 4.40625 253.112 4.40625 254.112V255.565H14.5898ZM18.0234 239.98L0.9375 243.941L0.9375 239.207L11.1797 237.004C11.4141 236.957 11.6055 236.926 11.7539 236.91C11.9023 236.887 12.0977 236.863 12.3398 236.84V236.746C12.0977 236.723 11.9023 236.703 11.7539 236.687C11.6055 236.664 11.4141 236.633 11.1797 236.594L0.9375 234.191L0.9375 229.07L11.168 226.644C11.3945 226.59 11.5859 226.555 11.7422 226.539C11.8984 226.523 12.0977 226.504 12.3398 226.48V226.398C12.0977 226.375 11.8984 226.351 11.7422 226.328C11.5859 226.305 11.3945 226.273 11.168 226.234L0.9375 224.137V220L18.0234 223.844V229.199L7.81641 231.73C7.58984 231.785 7.38281 231.828 7.19531 231.859C7.00781 231.883 6.79297 231.906 6.55078 231.93V232.012C6.79297 232.035 7.00781 232.058 7.19531 232.082C7.38281 232.105 7.58984 232.144 7.81641 232.199L18.0234 234.73V239.98ZM18 220.27L0.890625 214.024L0.890625 208.704L18 202.364V207.473L6.9375 211.294C6.66406 211.387 6.40625 211.458 6.16406 211.505C5.92188 211.552 5.69922 211.595 5.49609 211.634V211.716C5.69922 211.747 5.92578 211.79 6.17578 211.845C6.41797 211.891 6.67188 211.958 6.9375 212.044L18 215.794V220.27ZM14.9063 216.122L11.5664 215.243V207.79L14.9063 206.887L14.9063 216.122ZM18 200.385H0.9375L0.9375 193.271C0.9375 191.263 1.42969 189.677 2.41406 188.513C3.39063 187.342 4.78125 186.756 6.58594 186.756C8.42188 186.756 9.85156 187.353 10.875 188.549C11.8984 189.744 12.4102 191.326 12.4102 193.295V195.545H18V200.385ZM9.09375 195.545V193.799C9.09375 193.01 8.89063 192.451 8.48438 192.123C8.07813 191.787 7.48828 191.615 6.71484 191.607C5.95703 191.607 5.37891 191.775 4.98047 192.111C4.58203 192.447 4.38281 193.01 4.38281 193.799V195.545H9.09375ZM18 191.385L10.3125 194.97L9.87891 190.06L18 186.017L18 191.385ZM18 183.651H0.9375L0.9375 171.51H4.57031V178.905H7.57031V172.542H11.0039V178.905H14.4258V171.358H18V183.651ZM18 161.317H0.9375L0.9375 156.477H14.3672V149.669H18V161.317ZM18 147.021H0.9375L0.9375 142.146H18V147.021ZM18 138.327H0.9375L0.9375 133.253L9.86719 128.811C10.1094 128.694 10.3398 128.596 10.5586 128.518C10.7773 128.44 11.0234 128.362 11.2969 128.284V128.19C11.0234 128.206 10.7773 128.217 10.5586 128.225C10.3398 128.225 10.0898 128.225 9.80859 128.225H0.9375L0.9375 124.194H18V129.338L9.16406 133.756C8.92188 133.874 8.6875 133.971 8.46094 134.049C8.22656 134.12 7.98047 134.19 7.72266 134.26V134.342C7.99609 134.327 8.25391 134.319 8.49609 134.319C8.73828 134.311 8.99609 134.307 9.26953 134.307H18V138.327ZM18 120.304H0.9375L0.9375 108.164H4.57031L4.57031 115.558H7.57031L7.57031 109.195H11.0039L11.0039 115.558H14.4258V108.011H18L18 120.304ZM11.2969 98.1459H0.9375L0.9375 93.3178H11.7773C12.9883 93.3178 13.8047 93.1147 14.2266 92.7084C14.6484 92.2944 14.8594 91.7436 14.8594 91.0561C14.8594 90.3686 14.6484 89.8217 14.2266 89.4155C13.7969 89.0014 12.9805 88.7944 11.7773 88.7944H0.9375L0.9375 84.0717H11.2969C13.75 84.0717 15.5352 84.7319 16.6523 86.0522C17.7617 87.3647 18.3164 89.0366 18.3164 91.0678C18.3164 93.1381 17.7617 94.8373 16.6523 96.1655C15.5352 97.4858 13.75 98.1459 11.2969 98.1459ZM18 80.3461H0.9375L0.9375 72.8578C0.9375 70.85 1.44141 69.307 2.44922 68.2289C3.45703 67.143 4.91016 66.6 6.80859 66.6C8.70703 66.6 10.1641 67.1391 11.1797 68.2172C12.1953 69.2875 12.7031 70.8461 12.7031 72.893V75.5063H18V80.3461ZM9.31641 75.5063V73.6664C9.31641 72.8148 9.10938 72.2289 8.69531 71.9086C8.28125 71.5883 7.66797 71.4281 6.85547 71.4281C6.04297 71.4281 5.43359 71.5883 5.02734 71.9086C4.62109 72.2289 4.41797 72.8148 4.41797 73.6664V75.5063H9.31641ZM18 57.637H15.2227L8.76563 51.7542C8.1875 51.2386 7.64844 50.8206 7.14844 50.5003C6.64063 50.18 6.11719 50.0198 5.57813 50.0198C5.09375 50.0198 4.72656 50.1253 4.47656 50.3362C4.21875 50.5472 4.08984 50.8909 4.08984 51.3675C4.08984 51.8519 4.26172 52.2151 4.60547 52.4573C4.94922 52.6917 5.54297 52.8089 6.38672 52.8089H6.91406L6.91406 57.7308H6.09375C4.49219 57.7308 3.17969 57.1722 2.15625 56.055C1.13281 54.93 0.621094 53.3675 0.621094 51.3675C0.621094 49.18 1.05469 47.5823 1.92188 46.5745C2.78906 45.5667 3.95313 45.0589 5.41406 45.0511C6.57813 45.0511 7.58203 45.3284 8.42578 45.8831C9.26953 46.4378 10.1289 47.1214 11.0039 47.9339L14.3203 51.0042L14.3203 44.7464H18L18 57.637ZM11.6836 42.8489H7.25391C5.24609 42.8489 3.64063 42.3059 2.4375 41.22C1.22656 40.1263 0.621094 38.5364 0.621094 36.4505C0.621094 34.3645 1.21875 32.7747 2.41406 31.6809C3.60938 30.5794 5.22266 30.0286 7.25391 30.0286H11.6836C13.7227 30.0286 15.3398 30.5911 16.5352 31.7161C17.7227 32.8411 18.3164 34.4192 18.3164 36.4505C18.3164 38.5442 17.7227 40.1341 16.5352 41.22C15.3398 42.3059 13.7227 42.8489 11.6836 42.8489ZM12.3516 37.8802C13.125 37.8802 13.7383 37.7747 14.1914 37.5638C14.6445 37.3528 14.8711 36.9778 14.8711 36.4388C14.8711 35.8919 14.6445 35.513 14.1914 35.302C13.7383 35.0911 13.125 34.9856 12.3516 34.9856H6.63281C5.84375 34.9856 5.22266 35.095 4.76953 35.3138C4.31641 35.5247 4.08984 35.8997 4.08984 36.4388C4.08984 36.9778 4.31641 37.3528 4.76953 37.5638C5.22266 37.7747 5.84375 37.8802 6.63281 37.8802H12.3516ZM18 28.0608H15.2227L8.76563 22.178C8.1875 21.6624 7.64844 21.2444 7.14844 20.9241C6.64063 20.6038 6.11719 20.4436 5.57813 20.4436C5.09375 20.4436 4.72656 20.5491 4.47656 20.76C4.21875 20.9709 4.08984 21.3147 4.08984 21.7913C4.08984 22.2756 4.26172 22.6389 4.60547 22.8811C4.94922 23.1155 5.54297 23.2327 6.38672 23.2327H6.91406V28.1545H6.09375C4.49219 28.1545 3.17969 27.5959 2.15625 26.4788C1.13281 25.3538 0.621094 23.7913 0.621094 21.7913C0.621094 19.6038 1.05469 18.0061 1.92188 16.9983C2.78906 15.9905 3.95313 15.4827 5.41406 15.4749C6.57813 15.4749 7.58203 15.7522 8.42578 16.3069C9.26953 16.8616 10.1289 17.5452 11.0039 18.3577L14.3203 21.428V15.1702H18L18 28.0608ZM13.125 13.4836H12.6211L12.6328 8.59686H13.0547C13.6719 8.59686 14.1367 8.45624 14.4492 8.17499C14.7617 7.88593 14.918 7.46014 14.918 6.89764C14.918 6.30389 14.7227 5.88983 14.332 5.65546C13.9336 5.41327 13.2969 5.29218 12.4219 5.29218C11.5703 5.29218 10.957 5.42499 10.582 5.69061C10.207 5.94843 10.0195 6.34686 10.0195 6.88593C10.0195 7.33124 10.125 7.69843 10.3359 7.98749C10.5469 8.26874 10.8164 8.50702 11.1445 8.70233L9.62109 12.8976L0.9375 12.0187L0.9375 1.3078H4.64063L4.59375 8.25702L7.41797 8.54999C7.19922 8.23749 7.01953 7.85468 6.87891 7.40155C6.73047 6.94843 6.65625 6.41718 6.65625 5.8078C6.65625 4.21405 7.13281 2.91327 8.08594 1.90546C9.03906 0.897644 10.3945 0.393738 12.1523 0.393738C14.0039 0.393738 15.4961 0.9328 16.6289 2.01093C17.7539 3.08905 18.3164 4.71014 18.3164 6.87421C18.3164 9.01483 17.8398 10.6516 16.8867 11.7844C15.9258 12.9172 14.6719 13.4836 13.125 13.4836Z' fill='%23C7FF6C'/%3E%3C/svg%3E%0A");
  background-position: 0 -10px;
  background-repeat: repeat-y;
  padding-left:calc(var(--space) * 2);
  position: relative;
  text-align: center;
}

.product h2 {
  align-items: center;
  display: flex;
  gap: calc(var(--space) /2);
}

.product h2 a {
  width: 100%;
}

.product h2 span:first-child {
  font-size: 250%;
  font-variation-settings: var(--font-flex-extrabold);
  line-height: 1;
}

.product-picture {
  position: relative;
  overflow: hidden;
}

.product-picture-server {
  margin: 0 auto;
}

.product-picture-switch {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 10;
  width: 305px;
  height: 330px;
}

.unitree {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  text-align: left;
  margin-top: calc(var(--space) * 3);
}

.unitree h2, .unitree h3 {
  position: relative;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 5;
}

html[lang="ar"] .unitree h2, .unitree h3, .unitree p  {
  margin-right: 20px;
}

.unitree h3, .unitree .label {
  margin-bottom: var(--space);
}

.unitree .label {
  background-color: var(--rb-color-green-accent);
  display: inline-block;
  font-variation-settings: var(--font-flex-bold);
  letter-spacing: 0.5px;
  padding: 0 4px;
  text-transform: uppercase;
  transform: rotate(-15deg);
}

.unitree > div {
  position: relative;
}

@media screen and (width < 800px) {
  .product-picture-switch {
    transform: scale(0.8);
    top: auto !important;
    bottom: 0 !important;
    right: -60px !important;
  }
}

@media screen and (width < 400px) {
  .product-picture-switch {
    transform: scale(0.5);
    top: auto !important;
    bottom: -100px !important;
    right: -100px !important;
  }
}