---
const {link, linkText, text} = Astro.props;
---

<a href={link} class:list={'case-page__github-link', {'withText': text}}>
  <span class="case-page__github-link-text">{ linkText }</span>
  {text &&  <p class="case-page__github-text">{ text }</p>}
</a>

<style>

  .case-page__github-link {
    padding: calc(var(--space) * 0.5);
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.33s ease-in-out;
    border-left: 6px solid var(--color-link);
  }
  
  .case-page__github-link:hover {
    box-shadow: .4rem .4rem 0 var(--color-link);
  }
  
  .case-page__github-link.withText {
    align-items: flex-start;
    flex-direction: column;
    padding: calc(var(--space) * 2);
  }
  
  .case-page__github-link-text {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 50px;
    font-weight: 800;
    color: var(--color-link);
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_571_4611)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.29 0C7.29 0 0 7.29 0 16.29C0 23.49 4.67 29.59 11.14 31.75C11.95 31.9 12.25 31.4 12.25 30.96C12.25 30.57 12.24 29.55 12.23 28.19C7.7 29.17 6.74 26.01 6.74 26.01C6 24.13 4.93 23.63 4.93 23.63C3.45 22.62 5.04 22.64 5.04 22.64C6.67 22.76 7.54 24.32 7.54 24.32C8.99 26.81 11.35 26.09 12.28 25.67C12.43 24.62 12.85 23.9 13.31 23.49C9.69 23.08 5.89 21.68 5.89 15.44C5.89 13.66 6.52 12.21 7.57 11.07C7.4 10.66 6.84 9 7.73 6.76C7.73 6.76 9.1 6.32 12.21 8.43C13.51 8.07 14.9 7.89 16.29 7.88C17.67 7.88 19.07 8.07 20.37 8.43C23.48 6.32 24.85 6.76 24.85 6.76C25.74 9 25.18 10.66 25.01 11.07C26.05 12.21 26.68 13.66 26.68 15.44C26.68 21.7 22.87 23.07 19.24 23.48C19.82 23.98 20.35 24.98 20.35 26.5C20.35 28.68 20.33 30.43 20.33 30.97C20.33 31.41 20.62 31.91 21.45 31.75C27.92 29.59 32.58 23.49 32.58 16.3C32.58 7.29 25.29 0 16.29 0Z' fill='%232949D3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_571_4611'%3E%3Crect width='32.58' height='31.77' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left;
  }
  
  .case-page__github-link.withText .case-page__github-link-text {
    margin-bottom: calc(var(--space) * 0.5);
  }
  
  .case-page__github-text {
    color: var(--color-dark);
    font-style: italic;
    text-align: left;
  }
  
  </style>