---
// Import data
import items from '../../data/cases.js';

const { path, introText, introImg, withExtras = false } = Astro.props;

// Filter cases based on the path
const caseData = items.cases.filter(c => path.includes(c.path));
const firstCase = caseData.length > 0 ? caseData[0] : {}; 
---
<div class="cases__main-title title-with-bg blue">
  <h1><a href="/cases/" aria-label="see all our r&d cases">{ $tr('R&D cases') }</a></h1>
</div>

{firstCase && (
  <section class="case-page__header layout">
    <div class="case-page__header-wrapper layout__text">
      {firstCase.title && <h1 class={`case-page__status ${firstCase.progress === 'proceeding' ? 'progress' : ''}`}><span>{$tr(firstCase.title)}</span></h1>}
      <div class="case-page__header-info">
        <div class="case-page__tags">
          {firstCase.tags?.map(tag => (
            <a href={'/cases/tags/' + tag.replace(/\s+/g, '-') + '/'} class="case-page__tag">{tag}</a>
          ))}
        </div>
      </div>

      {introText && (
        <div class="case-page__intro layout__content">
          {!withExtras ? <b><p>{ introText }</p></b> : <p innerHTML={introText}></p>}
        </div>
      )}
    </div>

    {introImg && <img src={`/images/cases/${introImg}`} alt={firstCase.title || "Case image"} />}
  </section>
)}

<style>
  .case-page__header {
    margin-top: 0;
    margin-bottom: calc(var(--space) * 2);
  }

  h1 {
    padding-top: 0;
    margin: calc(var(--space) * 0.5) 0;
  }

  .case-page__header h1 {
    display: inline-block;
    position: relative;
    font-variation-settings: var(--font-flex-extrabold);
    font-size: calc(var(--base-font-size) * 1.5);
  }

  .case-page__header h1 span {
    display: inline;
    position: relative;
  }

  img {
    width: 100%;
  }

  .case-page__header-wrapper {
    text-align: center;
  }

  .case-page__header-info {
    margin-bottom: calc(var(--space) * 1.5);
  }

  .case-page__header h1 span::after {
    content: '';
    position: absolute;
    right: -35px;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='13' fill='%23C7FF6C'/%3E%3Cg clip-path='url(%23clip0_1089_17613)'%3E%3Cpath d='M19.5899 10.2982L12.2043 17.6833C11.6574 18.2303 10.7703 18.2303 10.2228 17.6833L6.41034 13.8705C5.86322 13.3235 5.86322 12.4362 6.41034 11.8891C6.95756 11.3419 7.84467 11.3419 8.39165 11.8889L11.2139 14.7112L17.6083 8.31669C18.1555 7.76947 19.0427 7.76989 19.5897 8.31669C20.1367 8.86381 20.1367 9.75078 19.5899 10.2982Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1089_17613'%3E%3Crect width='14' height='14' fill='white' transform='translate(6 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right;
  }

   .case-page__header .progress.case-page__status span::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='%23F9C032'/%3E%3Cg clip-path='url(%23clip0_491_1690)'%3E%3Cpath d='M13.4 8.858h-1.193c-.42 0-.759.319-.759.714 0 .395.34.714.759.714h3.034c.42 0 .759-.32.759-.714V6.715c0-.395-.339-.714-.759-.714s-.758.319-.758.714v1.143l-.418-.393c-2.074-1.953-5.435-1.953-7.51 0-2.074 1.953-2.074 5.118 0 7.07 2.075 1.953 5.436 1.953 7.51 0a.686.686 0 000-1.01.794.794 0 00-1.073 0c-1.482 1.394-3.883 1.394-5.365 0-1.482-1.395-1.482-3.656 0-5.051s3.883-1.395 5.365 0l.407.384z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_491_1690'%3E%3Cpath fill='%23fff' transform='translate(5 6)' d='M0 0h11v10H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  .case-page__tag {
    display: inline-block;
    font-size: calc(var(--base-font-size) * 0.7);
    text-transform: capitalize;
    margin-right: calc(var(--space) * 0.3);
  }

  .case-page__intro p {
    font-size: calc(var(--base-font-size) * 1.4);
    margin-bottom: calc(var(--space) * 0.5);
  }

  @media screen and (max-width: 650px) {
    .title-with-bg.blue {
      margin-bottom: var(--space);
    }
  }


  @media screen and (max-width: 420px) {
    .case-page__header h1 {
      max-width: 315px;
    }
  }
</style>
