.hide {
	visibility: visible;
	opacity: 1;
  
	animation: FadeOut 0.1s var(--animation-bump) 0.1s forwards;
  }
  
.show {
	visibility: hidden;
	opacity: 0;
  
	animation: FadeIn 0.1s var(--animation-bump) 0.1s forwards;
  }

.animate-inside, .animate-inside-fast {
	& > * {
		visibility: hidden;
		opacity: 0;
		transform: translateY(5%);
	}

	&.in-viewport {
		& > * {
			animation-name: FadeIn, FloatYUp;
			animation-timing-function: linear;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;

			animation-duration: 0.5s;

			@for $i from 0 to 50 {
				
				&:nth-child(#{$i + 1}) {
					animation-delay: 0.5s + 0.2*$i;
				}

			}
		}
	}
}

.animate-inside-fast {
	&.in-viewport {
		& > * {
			animation-delay: 0.5s;
			animation-duration: 0.2s;

			@for $i from 0 to 50 {
				
				&:nth-child(#{$i + 1}) {
					animation-delay: 0.2s + 0.02*$i;
				}

			}
		}
	}
}

.animate:not(hr) {
	visibility: hidden;
	opacity: 0;
	transform: translateY(5%);

	&.in-viewport {
		animation-name: FadeIn, FloatYUp;
		animation-timing-function: linear;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
	}
}

  
@keyframes FadeOut
	{
		from {
			visibility: visible;
			opacity: 1;
		}

	  to {
	    visibility: hidden;
		opacity: 0;
	  }
	}


@keyframes FadeIn {
	to {
	    visibility: visible;
		opacity: 1;
	}
	from {
	    visibility: hidden;
		opacity: 0;
	  }
}



@keyframes Scale
	{
	  0% {
	    transform: scale(0);
	  }
	  100% {
	    transform: scale(1);
	  }
	}



@keyframes ScaleX
	{
	  0% {
	    transform: scaleX(0);
	  }
	  100% {
	    transform: scaleX(1);
	  }
	}

@keyframes ScaleY
	{
	  0% {
	    transform: scaleY(0);
	  }
	  100% {
	    transform: scaleY(1);
	  }
	}

@keyframes FloatY {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-5%);
	}

	75% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes FloatYDown {
	0% {
		transform: translateY(-5%);
	}
	100%{
		transform: translateY(0);
	}
}

@keyframes FloatYUp {
	to{
		transform: translateY(0);
	}
}

// recommended animation: blink 1s ease-out 0.3s forwards;
@keyframes blink {
    0%{
      opacity: 0;
    }
    20%{
      opacity: 1;
    }
    40%{
      opacity: 0;
    }
    60%{
      opacity: 1;
    }
    80%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes TextGradient {
	0%{
	  background-position: 0; 
	}
	50%{
	  background-position: 100%; 
	}
	100%{
	  background-position: 0; 
	}
  }


  @keyframes typing {
	from {
	  width: 0
	}
  }

  @keyframes unTyping {
	to {
	  width: 0
	}
  }
	  
  @keyframes blinkLine {
	50% {
	  border-color: transparent
	}
  }



