body, html{
	min-height: 100%;
	height: 100%;
	position: relative;
}

html{
	font-size: 100%;

	@media screen and (min-width: 1600px) {
		font-size: 110%;
	}

	* { transition: all 0.2s linear; }
}


body {
 	background-color: var(--body-bg);
 	color: var(--text-color);
 	transition: color .6s, background-color .6s;
 	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	line-height: 1.5;

	// @media screen and (max-width: 840px) {
	// 	background-color: var(--color-gray-light);
	// }
}

img {
	display: inline-block;
	max-width: 100%;
}