.button
	{
		padding: .5rem .8rem;
		text-decoration: none;
		border: 0;

		cursor: pointer;
		
		&, select {
			font-family: 'Roboto', sans-serif;
  			font-weight: 500;
  			font-size: var(--base-font-size);
  			line-height: 1;
  		}

		&__primary{
			&, select {
				background-color: var(--link-color);
				color: var(--color-light);
			}

			&:hover{
				background-color: var(--link-color-hover);
			}
		}

		&__select {
			padding: 0 .5rem 0 0;
			overflow: hidden;

			.icon, select {
				display: inline-block;
				vertical-align: middle;
				padding: .8rem !important;
			}

			.icon {
				margin-right: .5rem !important;
				border-right: 1px solid rgba(0,0,0,0.3);
			}

			select {
				-webkit-appearance: none;
				appearance: none;
				background-color: rgba(0,0,0,0.3);
				font-size: 80%;
				padding: .5rem !important;
			}
		}
	}


.icon{
	display: inline-block;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;

	&:not(:last-child) {
		margin-right: 0.5rem;
	}

	// &__download{
	//   padding-bottom: 1px;
	//   border-bottom: 2px solid var(--color-light);
	//   position: relative;
	//   top: -2px;
	// }
}