.button
	{
		padding: .5rem .8rem;
		text-decoration: none;
		font-weight: 700;
		border: 0;

		cursor: pointer;
		font-family: 'Roboto', sans-serif;
  		font-weight: 500;
  		font-size: var(--base-font-size);
  		line-height: 1;

		&__primary{
			background-color: var(--link-color);
			color: var(--color-light);

			&:hover{
				background-color: var(--link-color-hover);
			}
		}

		&:hover .icon {
			transform-origin: 50% 50%;
			transform: scale(1.2);
		}
	}


.icon{
	display: inline-block;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;

	&:not(:last-child) {
		margin-right: 0.5rem;
	}

	// &__download{
	//   padding-bottom: 1px;
	//   border-bottom: 2px solid var(--color-light);
	//   position: relative;
	//   top: -2px;
	// }
}