input, select{
	appearance: none;

	padding: .5rem .8rem;
	border: 1px solid var(--border-color);
	background-color: var(--body-bg);
	font-size: var(--base-font-size);
	font-family: var(--font-family-code);
	font-weight: 500;

	border-radius: 0;
}

input, select, label {
	&.block {
		display: block;
		width: 100%;
		margin-bottom: calc(var(--space)/2);
	}
}

input:not(.button) {
	color: var(--color-dark);

	&:focus {
		&::placeholder {
			opacity: 0.6;
		}
		border-color: var(--color-dark)
	}

	// &:valid:not(:placeholder-shown) {
	// 	border-color: var(--color-green)
	// }

	&:not(:placeholder-shown) {
		border-color: var(--color-dark)
	}

	&.small {
		font-size: 90%;
		padding: .3rem .5rem;
	}
}

input[type="checkbox"] {
	padding: 0;
	cursor: pointer;
	width: 1.3rem;
    height: 1.3rem;
	position: relative;
	margin-right: 1rem;
	border-color: var(--border-color) !important;

	&:checked {
		background-color: var(--color-green);
    	border-color: var(--color-green) !important;
	}

	&:checked:after {
		content:"✓";
		position: absolute;
		top: -0.6rem;
		left: 0.1rem;
		color: #fff;
		font-weight: 500;
		font-size: 1.7rem;
	}

	&.big {
		width: 1.8rem;
    	height: 1.8rem;

		&:checked:after {
			font-size: 2.5rem;
			top: -0.9rem;
		}
	}
}

select {
	cursor: pointer;
}

.form-line {
	margin-bottom: var(--space);
}

.label {
	display: flex;
	align-items: center;
}

.input-signed-right {
	position: relative;

	.sign {
		position: absolute;
		right: 0.4rem;
		top: 0.4rem;
		background-color: var(--body-bg);
		color: var(--border-color);
	}

	input:focus + .sign, input:not(:placeholder-shown) + .sign {
		color: var(--color-dark)
	}
}

.msg-error {
	font-size: calc( var(--base-font-size) * 0.8 );
	color: var(--color-red);
	font-weight: 500;
}