section{
  margin-top: var(--space);
  margin-bottom: var(--space);
//   margin-bottom: calc( var(--space) * 2 );

//   section {
// 	margin-top: calc(var(--space)/2);
// 	margin-bottom: calc(var(--space)/2);
//   }
}

.section{
  margin-top: calc(var(--space) / 2);
  margin-bottom: var(--space);

  &__solid{
  	background-color: var(--color-light);
	padding: 1rem;

  	h1, h2, h3, h4, h5 {
  		margin-bottom: var(--space-text);
  	}
  }
}

.layout{
	&, &__content, &__text, &__text_small {
		display: block;
		margin-left: auto;
		margin-right: auto;
  	}

	padding-left: var(--space);
	padding-right: var(--space);

	&__title {
		text-align: center;
		padding-left: var(--space);
	    padding-right: var(--space);
	}
	

	&__content {
	  max-width: var(--content-width);
	  text-align: center;
	}

	&__text {
  		max-width: var(--text-width);
	}

	&__text_small {
		max-width: calc(var(--text-width) * 0.6);
	}
}


.fade-enter-active {
	transition: opacity .5s;
}

.fade-enter {
	opacity: 0;
}

.screen{
	height: 100vh;
	overflow: hidden;
	position: relative;

	&-content {
		height: calc(100vh - var(--screen-padding)*2);
		overflow-y: scroll;
		margin: var(--screen-padding);
		background-color: var(--color-gray-light);

		&::-webkit-scrollbar {
			display: none;
		}

		scrollbar-width: none;

		// background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\
		// 		<text y=".9em" font-size="5">👌</text>\
		// 		</svg>');
		// 		background-size: 40px 40px;
	}
}


.logo { display: inline-block; }


// .footer{
//     position: absolute;
//     bottom: calc(var(--space) + 1rem);
//     left: var(--space);
//     right: var(--space);
//     text-align: center;
// 	line-height: 1.5;
// }

.m-space-left { margin-left: var(--space); }
.m-space-right { margin-right: var(--space); }