@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;

  word-break: break-word;

  &:first-child { margin-top: 0 }
}


h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.3rem;
  margin-bottom: calc(var(--space-text) * 4);
  font-weight: 100;
  // text-shadow: rgba(3, 165, 237, .3) 0 0.3rem;
  margin-top: 0;

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}

h2 {font-size: 1.5rem;}

h3 {font-size: 1.2rem;}

h4 {font-size: 1rem;}

h5 {font-size: 0.8rem;}

h1, h2 {
  margin: calc(var(--space-text) * 4) 0 calc(var(--space-text) * 2);
}

h3, h4, h5 {
  margin: calc(var(--space-text) * 2) 0 var(--space-text);
}

small, .text__small { font-size: 80%; line-height: 1.2; }

strong {
  font-weight: 500;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
  font-size: 1.1rem;
}

em {
  font-style: italic;
}

ul { 
  list-style-type: disc; 
  margin-left: var(--space-text);
  margin-bottom: var(--space-text);
  li {
    margin-bottom: .6rem;
  }
}
ol { 
  list-style-type: decimal; 
  margin-left: var(--space-text);
  margin-bottom: var(--space-text);
  li {
    margin-bottom: .6rem;
  }
}



p, ul, ol, li, blockquote {
  &:last-child { margin-top: 0 }
}


a{
  &:not(.button) {
    color: var(--link-color);
    transition: opacity .2s, color .2s;

    &:hover {
      color: var(--link-color-hover);
    }
  }


  // &[target="_blank"]:not(.button):after{
  //   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //   transform: scale(.7);
  //   font-weight: bold;
  //   margin-left: .125em;
  //   display: inline-block;
  //   content: "↗";
  //   transition: all 0.2s ease;
  // }

  // &[target="_blank"]:hover:after{
  //   transform: scale(.7) translateX(.1rem) translateY(- 0.3rem);
  // }
}


p {
  margin-bottom: var(--space-text);
}

hr {
  margin: var(--space-text) 0;
  border: 0;
  outline: 0;
  height: 1px;
  background-color: var(--text-color)
}

.hyphens{
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  h1, h2, h3, h4, h5 { text-align: center; }
}

.align-left { text-align: left; }
.text-center { text-align: center; }

.ul-nostyle {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

code {
  max-width: 100%;
  overflow-x: scroll;
  display: inline-block;
  vertical-align: middle;
  // background-color: rgba(#000, .1);
  // padding: 0 0.4rem;
}
