@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');

%margin_text {
  margin-bottom: var(--space-text);
  &:last-child {
    margin-bottom: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-top: calc(var(--space-text) * 2);
  
  @extend %margin_text;
}


h1 { margin-top: calc(var(--space)*2) !important; }

@media screen and (max-width: 720px) {
  h1 { margin-top: calc(var(--space)*3) !important; }
}


h2 { font-size: 1.5rem; }

h3 {font-size: 1.2rem;}

h4 {font-size: 1rem;}

h5 {font-size: 0.8rem;}

h2, h3, h4, h5 {
  &:first-child { margin-top: 0 }
}


h1 {
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.3rem;
  // margin-bottom: calc(var(--space-text) * 4);
  font-weight: 400;
  margin-top: 0;
  text-align: center;

  display: inline-block;
  background: linear-gradient(to right , var(--color-green), #11a075, #5DC0DF, #355bd6, var(--link-color-hover), #101F5A, var(--link-color-hover), #355bd6, #5DC0DF, #11a075, var(--color-green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-position:  0; 
  background-size: 200%;
  animation: 12s progress-bar linear infinite;

  @media screen and (max-width: 1000px) {
    font-size: 1.6rem;
  }
}

@keyframes progress-bar {
  0%{
    background-position: 0; 
  }
  50%{
    background-position: 100%; 
  }
  100%{
    background-position: 0; 
  }
}





small, .text__small { font-size: 80%; line-height: 1.2; }

strong {
  font-weight: 500;
}

blockquote {
  border-left: 4px solid var(--border-color);
  border-image: linear-gradient(to bottom , var(--color-green), #5DC0DF, #355bd6, #101F5A) 1 100%;
  padding-left: calc(var(--space) / 2);
  padding-right: calc(var(--space) / 2);
  color: var(--title-color);
  font-size: 130%;

  @extend %margin_text;
}

em {
  font-style: italic;
}

ul { 
  margin-left: var(--space-text);

  li {
    margin-bottom: .6rem;
  }
}

ol { 
  list-style-type: decimal; 
  margin-left: var(--space-text);

  li {
    margin-bottom: .6rem;
  }
}

a{
  &:not(.button) {
    color: var(--link-color);
    transition: all .2s, color .2s;

    &:hover {
      color: var(--link-color-hover);
    }
  }


  // &[target="_blank"]:not(.button):after{
  //   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //   transform: scale(.7);
  //   font-weight: bold;
  //   margin-left: .125em;
  //   display: inline-block;
  //   content: "↗";
  //   transition: all 0.2s ease;
  // }

  // &[target="_blank"]:hover:after{
  //   transform: scale(.7) translateX(.1rem) translateY(- 0.3rem);
  // }
}


hr {
  margin: var(--space-text) 0;
  border: 0;
  outline: 0;
  height: 1px;
  background-color: var(--text-color)
}

.hyphens{
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  h1, h2, h3, h4, h5 { text-align: center; }
}

.align-left { text-align: left; }
.text-center { text-align: center; }

.ul-nostyle {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

code {
  max-width: 100%;
  overflow-x: scroll;
  display: inline-block;
  vertical-align: top; //fix for firefox
  // background-color: rgba(#000, .1);
  // padding: 0 0.4rem;
}



table {
  margin-bottom: var(--space-text);

  thead {
    th {
      text-align: left;
      font-weight: bold;
    }
  }

  th, td {
    padding: .5rem;
    border: 1px solid var(--border-color);
    font-size: 90%;
  }
}

p, ul, ol, li, blockquote, table {
  @extend %margin_text;
}
