body {

	--base-font-size: 1.1rem;

	--color-dark: #000000;
	--color-light: #ffffff;
	--color-gray-light: #f2f2f2;

 	--body-bg: var(--color-light);
 	--text-color: #000000;
 	--text-color-invert: #ffffff;

 	--code-bg: #162128;
 	--code-bg-inline: rgba(179, 37, 133, 0.06);
 	--code-text: #fff;
 	--code-text-inline: rgb(179, 37, 133);

 	--title-color: #111;
 	--link-color: #03A5ED;
 	--border-color:  rgba(0,0,0,.1);

 	--table-bg: transparent;
 	--table-thead-bg: #ede1a0;
 	--table-tr-hover: #f6f1d2;

 	--header-bg: #0e161a;
 	--header-link: #ced8de;
 	

  --space: 2rem;
  --space-text: 2rem;
  --content-width: 720px;
  --page-width: 1440px;
  --radius: 4px;

  --screen-padding: var(--space);
  --handScale: 1;
}


// @media screen and (min-width: 1920px) {
// 	body {
// 		--handScale: 1.5;
// 		--handShift: 4vw;
// 	}
// }

// @media screen and (max-width: 1920px) and (min-width: 1300px) {
// 	body {
// 		--handScale: 1.2;
//   	}
// }

// @media screen and (max-width: 1175px) {
// 	body {
// 		--handScale: 1;
// 		--handShift: -2vw;
// 	}
// }

// @media screen and (max-width: 970px) {
// 	body {
// 		--handScale: 0.6;
// 	}
// }

@media screen and (max-width: 720px) {
	body {
		--screen-padding: calc( var(--space) / 2);
	}
}
