body {

	--base-font-size: 1.2rem;
	--font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --font-family-code: 'Roboto Mono', monospace;

	--color-dark: #000000;
	--color-light: #ffffff;
	--color-gray: #ccc;
	--color-gray-light: #f2f2f2;
	--color-green: #5fce05;
	--color-orange: #E9510E;
	--color-red: #ee005b;
	--color-blue: #2949D3;

 	--body-bg: var(--color-light);
 	--text-color: #000000;
	--text-color-invert: #ffffff;
	--border-color: var(--color-gray);
	--color-blockquote: #e2e1e1;

 	--link-color: #03A5ED;
 	--link-color-hover: var(--color-blue);
	--link-color-visited: #660099;

	--link-color-rgba: #03a7ed93;
	--color-green-rgba: #5fce0581;
	--color-orange-rgba: #e9500eab;
	 
	--animation-bump: cubic-bezier(0.6, 0.04, 0.98, 0.335);
 	

  --space: 2rem;
  --space-text: 2rem;
  --content-width: 1660px;
  --text-width: 980px;
  --tip-width: 16rem;

  --screen-padding-top: 3rem;
//   --screen-padding-top: calc( var(--space) * 1.5 );
  --screen-padding-right: 1rem;
  --screen-padding-bottom: 1rem;
//   --screen-padding-left: calc( var(--space) * 1.5 );
  --screen-padding-left: 3rem;
}

// @media screen and (max-width: 720px) {
// 	body {
// 		--space: 1.5rem;
// 		--base-font-size: 0.9rem;
// 	}
// }

@media screen and (max-width: 450px) {
	body {
		--space: 1.2rem;
	}
}