body {

	--base-font-size: 1.1rem;
	--font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --font-family-code: 'Roboto Mono', monospace;

	--color-dark: #000000;
	--color-light: #ffffff;
	--color-gray: #ccc;
	--color-gray-light: #f2f2f2;
	--color-green: #54ce63;
	--color-orange: #E9510E;
	--color-red: #ee005b;

 	--body-bg: var(--color-light);
 	--text-color: #000000;
	--text-color-invert: #ffffff;
	--border-color: var(--color-gray);
	--color-blockquote: #e2e1e1;

 	--link-color: #03A5ED;
 	--link-color-hover: #3a00db;
	--link-color-visited: #660099;
	 
	--animation-bump: cubic-bezier(0.6, 0.04, 0.98, 0.335);
 	

  --space: 2rem;
  --space-text: 2rem;
  --content-width: 720px;
  --text-width: 980px;

  --screen-padding: calc( var(--space) * 1.5 );
}

@media screen and (max-width: 720px) {
	body {
		--space: 1.5rem;
		--base-font-size: 0.9rem;
	}
}

@media screen and (max-width: 350px) {
	body {
		--space: 1rem;
		--base-font-size: 0.8rem;
	}
}