input, select, button{
	appearance: none;

	padding: .5rem .8rem;
	border: 1px solid var(--color-border);
	background-color: var(--body-bg);
	font-size: var(--base-font-size);
	font-weight: 500;

	border-radius: 0;
}


input.block, select.block, label.block {
	display: block;
	width: 100%;
	margin-bottom: calc(var(--space)/2);
}


input:not(.button) {
	color: var(--color-dark);
}

input:not(.button):focus {
	border-color: var(--color-dark)
}

input:not(.button):focus::placeholder {
	opacity: 0.6;
}

input:not(.button):not(:placeholder-shown) {
	border-color: var(--color-dark)
}

input:not(.button).small {
	font-size: 90%;
	padding: .3rem .5rem;
}

input[type="checkbox"] {
	padding: 0;
	cursor: pointer;
	width: 1.3rem;
    height: 1.3rem;
	position: relative;
	margin-right: 1rem;
	border-color: var(--color-border) !important;
	text-align: center;
}

input[type="checkbox"]:checked {
	background-color: var(--color-blue);
	border-color: var(--color-blue) !important;
}

input[type="checkbox"]:checked:after {
	content:"✓";
	position: absolute;
	top: -4px;
	left: 3px;
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

input[type="checkbox"].big {
	width: 1.8rem;
	height: 1.8rem;
}

input[type="checkbox"].big:checked:after {
	position: absolute;
	left: 0;
	top: -0.5rem;
	font-size: 2.5rem;
}


select {
	cursor: pointer;
	background-image: url('~@/assets/images/select-arrow-dark.png');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.6rem) 50%;
	padding-right: 2.2rem;
}

label {
	font-size: 80%;
}

.error, input.error {
	color: var(--color-red) !important;
}

.error input, input.error {
	border-color: var(--color-red) !important;
}

input[type="submit"], button {
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-light);
    /* margin-top: var(--space); */
		text-transform: uppercase;
		letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s ease all;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
}