input, select{
	appearance: none;

	padding: .5rem .8rem;
	border: 1px solid var(--border-color);
	background-color: var(--body-bg);
	font-size: var(--base-font-size);
	font-family: var(--font-family-code);
	font-weight: 500;

	border-radius: 0;
}


input.block, select.block, label.block {
	display: block;
	width: 100%;
	margin-bottom: calc(var(--space)/2);
}


input:not(.button) {
	color: var(--color-dark);
}

input:not(.button):focus {
	border-color: var(--color-dark)
}

input:not(.button):focus::placeholder {
	opacity: 0.6;
}

input:not(.button):not(:placeholder-shown) {
	border-color: var(--color-dark)
}

input:not(.button).small {
	font-size: 90%;
	padding: .3rem .5rem;
}

input[type="checkbox"] {
	padding: 0;
	cursor: pointer;
	width: 1.3rem;
    height: 1.3rem;
	position: relative;
	margin-right: 1rem;
	border-color: var(--border-color) !important;
}

input[type="checkbox"]:checked {
	background-color: var(--color-green);
	border-color: var(--color-green) !important;
}

input[type="checkbox"]:checked:after {
	content:"✓";
	position: absolute;
	top: -0.6rem;
	left: 0.1rem;
	color: #fff;
	font-weight: 500;
	font-size: 1.7rem;
}

input[type="checkbox"].big {
	width: 1.8rem;
	height: 1.8rem;
}

input[type="checkbox"].big:checked:after {
	font-size: 2.5rem;
	top: -0.9rem;
}


select {
	cursor: pointer;
	background-image: url('~@/assets/images/select-arrow-dark.png');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.6rem) 50%;
	padding-right: 2.2rem;
}

select.robot {
	background-image: url('~@/assets/images/3.gif');
	background-size: 2.8rem;
	background-position: calc(100% - 0.4rem) calc(50% + 0.4rem);
  }

.form-line {
	margin-bottom: var(--space);
}

.label {
	display: flex;
	align-items: center;
}

.input-signed-right {
	position: relative;
}

.input-signed-right .sign {
	position: absolute;
	right: 0.4rem;
	top: 0.4rem;
	background-color: var(--body-bg);
	color: var(--border-color);
}

.input-signed-right input:focus + .sign, .input-signed-right input:not(:placeholder-shown) + .sign {
	color: var(--color-dark)
}

.msg-error {
	font-size: calc( var(--base-font-size) * 0.8 );
	color: var(--color-red);
	font-weight: 500;
}

.error, input.error {
	color: var(--color-red) !important;
}

.error input, input.error {
	border-color: var(--color-red) !important;
}

.msg-ok {
	font-size: calc( var(--base-font-size) * 0.8 );
	color: var(--color-green);
	font-weight: 500;
}

.ok {
	color: var(--color-green);
}