input, select, button {
	--border-width: 2px;
	--border-color: var(--color-dark);
	--input-background: var(--color-light);
	--input-padding: .5rem;
	--input-text-color: var(--color-dark);
	--font-settings: var(--font-flex-bold);
	--font-family: var(--font-family);
	--font-size: var(--base-font-size);
	--checkbox-size: 1rem;
	font-variation-settings: var(--font-settings);
}

input, select, button {
	font-variation-settings: var(--font-settings);
	font-family: var(--font-family);
	font-size: var(--font-size);
	display: inline-block;
	border: var(--border-width) solid var(--border-color);
}

input:not([type='checkbox']):not([type='radio']), select, button {
	padding: var(--input-padding) calc(var(--input-padding) * 1.2);
	background-color: var(--input-background);
	color: var(--input-text-color);
}

input:not([type='submit']):focus {
	--border-color: var(--color-link);
	--input-text-color: var(--color-link);
}

input[type='checkbox'] {
	appearance: none;
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	margin-left: 10px;
	margin-right: 10px;
}

input[type='checkbox']:first-child {
	margin-left: 0;
}

input[type='checkbox']:last-child {
	margin-right: 0;
}

input[type='checkbox']:checked {
	background-color: var(--rb-color-green-accent);
}


label.block, select.block, input.block, button.block {
	display: block;
	width: 100%;
	margin-bottom: calc(var(--space)/2);
}

select {
	appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='21' viewBox='0 0 4 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.58449 0H0.92643C0.414777 0 0 0.414777 0 0.92643V2.58449C0 3.09615 0.414777 3.51092 0.92643 3.51092H2.58449C3.09615 3.51092 3.51093 3.09615 3.51093 2.58449V0.926431C3.51093 0.414777 3.09615 0 2.58449 0Z' fill='black'/%3E%3Cpath d='M2.58449 8.33789H0.92643C0.414777 8.33789 0 8.75267 0 9.26432V10.9224C0 11.434 0.414777 11.8488 0.92643 11.8488H2.58449C3.09615 11.8488 3.51093 11.434 3.51093 10.9224V9.26432C3.51093 8.75267 3.09615 8.33789 2.58449 8.33789Z' fill='black'/%3E%3Cpath d='M2.58449 16.6758H0.92643C0.414777 16.6758 0 17.0906 0 17.6022V19.2603C0 19.7719 0.414777 20.1867 0.92643 20.1867H2.58449C3.09615 20.1867 3.51093 19.7719 3.51093 19.2603V17.6022C3.51093 17.0906 3.09615 16.6758 2.58449 16.6758Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: 4px;
    background-position: calc(100% - 4px) 50%;
	background-repeat: no-repeat;
	padding-right: calc(var(--input-padding) + 9px);
}



/* input:not(.button):focus {
	border-color: var(--color-dark)
}

input:not(.button):focus::placeholder {
	opacity: 0.6;
}

input:not(.button):not(:placeholder-shown) {
	border-color: var(--color-dark)
}

input:not(.button).small {
	font-size: 90%;
	padding: .3rem .5rem;
}

input[type="checkbox"] {
	padding: 0;
	cursor: pointer;
	width: 1.3rem;
  height: 1.3rem;
	position: relative;
	margin-right: 1rem;
	border-color: var(--color-border) !important;
	text-align: center;
}

input[type="checkbox"]:checked {
	background-color: var(--color-blue);
	border-color: var(--color-blue) !important;
}

input[type="checkbox"]:checked:after {
	content:"✓";
	position: absolute;
	top: -4px;
	left: 3px;
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
}

input[type="checkbox"].big {
	width: 1.8rem;
	height: 1.8rem;
}

input[type="checkbox"].big:checked:after {
	position: absolute;
	left: 0;
	top: -0.5rem;
	font-size: 2.5rem;
}


select {
	cursor: pointer;
	background-image: url('~@/assets/images/select-arrow-dark.png');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.6rem) 50%;
	padding-right: 2.2rem;
}

label {
	font-size: 80%;
}

.error, input.error {
	color: var(--color-red) !important;
}

.error input, input.error {
	border-color: var(--color-red) !important;
}

input[type="submit"], button {
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-light);
		text-transform: uppercase;
		letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s ease all;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
} */