.section, section {
  margin-top: calc(var(--space)*2);
  margin-bottom: calc(var(--space)*2);
}

.section-wide {
	margin-top: calc(var(--space)*3);
	margin-bottom: calc(var(--space)*3);
}

.section-align-left { text-align: left; }
.section-align-center { text-align: center; }
.section-align-right { text-align: right; }

.section__solid {
	background-color: var(--color-light);
	padding-top: calc(var(--space)*2);
	padding-bottom: calc(var(--space)*2);
	margin-top: 0;
	margin-bottom: 0;
}

/* intro page */
.section__solid.wide {
	padding-top: calc(var(--space) * 4);
	padding-bottom: calc(var(--space) * 4);
}

  .section__solid h1,
  .section__solid h2,
  .section__solid h3,
  .section__solid h4,
  .section__solid h5 {
	margin-bottom: var(--space-text);
}

/* index page */
.section__whitespace {
	margin-top: calc(var(--space)*4);
	margin-bottom: calc(var(--space)*4);
}

  .section__blue, 
  .section__darkgray,
  .section__darkpurple,
  .section__gradient-purpleblue,
  .section__lightblue, .section__lightblue .card.transparent,
  .section__dotted_darkblue  {
	  color: #fff;
  }

  .section__blue h1,
  .section__darkgray h1,
  .section__darkpurple h1,
  .section__gradient-purpleblue h1,
  .section__dotted_darkblue h1 {
	color: #fff;
	background: none;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
  }

  .section__blue {
		background-color: var(--color-blue);
  }

	.dark-theme .section__blue {
		background-color: #223695;
	}

  .section__blue-lightest {
	  background-color: var(--color-blue-lightest);
  }
  
  .section__darkgray {
		background-color: var(--color-darkgray);
  }

  .section__darkpurple {
		background-color: var(--color-purple);
  }

  .section__gradient-purpleblue {
		background: var(--color-gradient-purpleblue);
  }

  .section__lightblue {
		background: var(--link-color);
  }

	.dark-theme  .section__lightblue {
		background: #1c4659;
  }

  .section__dotted {
		background-color: var(--color-section-dotted);
		background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><text x="20" y="20" font-size="20" fill="%23ccc">•</text></svg>');
		background-size: 30px 30px;
  }

  .section__dotted_darkblue {
		background-color: var(--color-purple);
		background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><text x="20" y="20" font-size="20" fill="%23374275">•</text></svg>');
		background-size: 50px 50px;
  }

  section section:first-child, .section section:first-child {
	  margin-top: 0;
  }

 section > h2, section > h3,
.section > h2, .section > h3 {
	  margin-top: 0;
  }


.section__solid .oldy {
	color: var(--color-dark)
}


.layout{
	padding-left: var(--space);
	padding-right: var(--space);
}

.layout, .layout__content, .layout__text, .layout__text_small {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.layout__title {
	text-align: center;
	padding-left: var(--space);
	padding-right: var(--space);
}


.layout__content {
	max-width: var(--content-width);
	text-align: center;
}

.layout__text {
	max-width: var(--text-width);
}

.layout__text_small {
	max-width: calc(var(--text-width) * 0.6);
}


.layout__mid {
	max-width: calc(var(--mid-width) + (var(--space) * 2));
}

.page hr.animate {
	transform-origin: 50% 50%;
	transform: scaleX(0);
}

.page hr.animate.in-viewport {
	animation: HR 0.4s ease-out 0.8s forwards;
}

.page-banner {
	margin-top: 0;
	font-family: var(--font-family-code);
}

.page-banner h1 { margin-top: 0; }


/* Full height screen */
.slide {
	min-height: calc(100vh - var(--screen-padding-top) - var(--screen-padding-bottom));
}

/* for cases */
.case-page__content {
	margin-bottom: calc(var(--space) * 2);
}


.case-page__content h2, .case-page__content h3,  .case-page__content h4{
	margin-bottom: calc(var(--space) * 0.5);
	text-align: left;
	text-transform: unset;
	font-family: var(--font-family);
	font-size: calc(var(--base-font-size) * 1.3);
	font-weight: 800;
	letter-spacing: 0;
}