.section, section {
  margin-top: calc(var(--space)*2);
  margin-bottom: calc(var(--space)*2);
}

.section-wide {
	margin-top: calc(var(--space)*3);
	margin-bottom: calc(var(--space)*3);
}

.section-align-left { text-align: left; }
.section-align-center { text-align: center; }
.section-align-right { text-align: right; }

  .section__solid {
  	background-color: var(--color-light);
	padding-top: calc(var(--space)*2);
	padding-bottom: calc(var(--space)*2);
	margin-top: 0;
  	margin-bottom: 0;
  }

  .section__solid.wide {
    padding-top: calc(var(--space) * 4);
    padding-bottom: calc(var(--space) * 4);
  }

  .section__solid h1,
  .section__solid h2,
  .section__solid h3,
  .section__solid h4,
  .section__solid h5 {
	margin-bottom: var(--space-text);
}

.section__whitespace {
	margin-top: calc(var(--space)*4);
	margin-bottom: calc(var(--space)*4);
}

  .section__blue, 
  .section__red,
  .section__darkgray,
  .section__darkpurple,
  .section__gradient-purpleblue,
  .section__lightblue, .section__lightblue .card.transparent,
  .section__black,
  .section__dotted_darkblue, .section__lilac  {
	  color: #fff;
  }

  .section__blue h1,
  .section__red h1,
  .section__darkgray h1,
  .section__darkpurple h1,
  .section__gradient-purpleblue h1,
  .section__black h1,
  .section__dotted_darkblue h1,
  .section__lilac h1 {
	color: #fff;
	background: none;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
  }

  .section__black {
	background-color: #000;
  }

  .section__blue {
	background-color: var(--color-blue);
  }

	.dark-theme .section__blue {
		background-color: #223695;
	}

  .section__blue-lightest {
	  background-color: var(--color-blue-lightest);
  }
  
  .section__darkgray {
	background-color: var(--color-darkgray);
  }

  .section__darkpurple {
	background-color: var(--color-purple);
  }

  .section__gradient-purpleblue {
	background: var(--color-gradient-purpleblue);
  }

  .section__red {
	background: var(--color-red);
  }

  .section__lightblue {
		background: var(--link-color);
  }

	.section__lilac {
		background: var(--color-purple-light);
	}

	.dark-theme  .section__lightblue {
		background: #1c4659;
  }

  .section__dotted {
	background-color: var(--color-section-dotted);
	/*background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">\
			<text x="20" y="20" font-size="20" style="fill:#ccc">•</text>\
			</svg>');*/
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><text x="20" y="20" font-size="20" fill="%23ccc">•</text></svg>');
	background-size: 30px 30px;
  }

  .section__dotted_darkblue {
	background-color: var(--color-purple);
	/*background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">\
		  <text x="20" y="20" font-size="20" style="fill:#374275">•</text>\
		  </svg>');*/
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><text x="20" y="20" font-size="20" fill="%23374275">•</text></svg>');
	background-size: 50px 50px;
  }

  section section:first-child, .section section:first-child {
	  margin-top: 0;
  }

 section > h2, section > h3,
.section > h2, .section > h3 {
	  margin-top: 0;
  }


  .section__solid .oldy {
	  color: var(--color-dark)
  }

  /* Details */
  details.dashed summary::marker, details.dashed summary::-webkit-details-marker { display: none }
  details.dashed summary {
	  cursor: pointer;
	  border-width: 0 0 1px;
	  border-style: dashed;
	  display: inline-block;
  }

  details.dashed[open] summary {
	margin-bottom: var(--space);
	opacity: 0.8;
  }

  .section__darkgray details.dashed summary {
	border-color: var(--color-light)
  }
  /* end of Details */


.layout{

	padding-left: var(--space);
	padding-right: var(--space);
}

.layout, .layout__content, .layout__text, .layout__text_small {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

	.layout__title {
		text-align: center;
		padding-left: var(--space);
	    padding-right: var(--space);
	}
	

	.layout__content {
	  max-width: var(--content-width);
	  text-align: center;
	}

	.layout__text {
  		max-width: var(--text-width);
	}

	.layout__text_small {
		max-width: calc(var(--text-width) * 0.6);
	}


	.layout__mid {
		max-width: calc(var(--mid-width) + (var(--space) * 2));
	}


.fade-enter-active {
	transition: opacity .5s;
}

.fade-enter {
	opacity: 0;
}

.m-space-left { margin-left: var(--space); }
.m-space-right { margin-right: var(--space); }





.landing, .page {
	text-align: center;
}


.page hr.animate {
	transform-origin: 50% 50%;
	transform: scaleX(0);
}

.page hr.animate.in-viewport {
	animation: HR 0.4s ease-out 0.8s forwards;
}

.page-banner {
	margin-top: 0;
	font-family: var(--font-family-code);
}

.page-banner h1 { margin-top: 0; }

@keyframes HR {
	from {
		transform: scaleX(0);
	}
	to{
		transform: scaleX(1);
	}
}


.faq-q {
	text-align: left;
	font-weight: bold;
	color: var(--color-red)
}

.faq-q:before{
	content: "Q.";
}

.faq-a:before{
	content: "A.";
  }

.faq-q:before, .faq-a:before {

	display: inline-block;
	font-size: 200%;
	font-weight: bold;
	line-height: 1;

}


.roadmap {
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: var(--space);
	align-items: start;
	text-align: left;
}

.roadmap h2, .roadmap h3, .roadmap h4, .roadmap h5 { text-align: left; }
.roadmap h2, .roadmap h3, .roadmap h4, .roadmap h5 { margin-top: 0; }

@media screen and (max-width: 800px) {
	.roadmap { grid-template-columns: 1fr; }

	.roadmap h2, .roadmap h3, .roadmap h4, .roadmap h5 {
		margin-top: calc(var(--space) * 2);
		margin-bottom: 0;
		font-weight: bold;
	}
}


/* Full height screen */
.slide {
	min-height: calc(100vh - var(--screen-padding-top) - var(--screen-padding-bottom));
}

/* Robo girl loves PolkaPet + text */
.polkapetBonuses {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: calc(var(--space)*2);
	align-items: start;
	text-align: left;
}

@media screen and (max-width: 920px) {
	.polkapetBonuses {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 720px) {
	.polkapetBonuses {
		grid-template-columns: 1fr;
	}
}

	.polkapetBonuses h2, .polkapetBonuses h3, .polkapetBonuses h4, .polkapetBonuses h5 { text-align: left; }

	.polkapetBonuses .polkapetBonuses-img {
		position: relative;
		min-height: 300px;
	}

	.polkapetBonuses .polkapetBonuses-img > svg {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 30%;
		max-width: 370px;
	}

	.polkapetBonuses .polkapet {
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
		max-width: 670px;
		z-index: 0;
	}

	.polkapetBonuses .polkapetBonuses-text {
		max-width: 800px;
	}