html {
  font-size: 100%;
}

/*It's important for high res narrow devices
	@media screen and (max-device-width: 350px) {
  It's for testing out on desktop*/
  @media screen and (max-width: 350px) {
    html { font-size: 80%; }
  }

  /*It's important for high res narrow devices
	@media screen and (max-device-width: 1000px) {
  It's for testing out on desktop*/
	@media screen and (max-width: 1000px) {
		html { font-size: 90%; }
	}

  /*It's important for high res narrow devices
	@media screen and (min-device-width: 1660px) {
  It's for testing out on desktop*/
	@media screen and (min-width: 1660px) {
		html { font-size: 110%; }
	}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

h1 { font-size: calc(var(--base-font-size) * 1.8) }
h2 { font-size: calc(var(--base-font-size) * 1.4) }
h3 { font-size: calc(var(--base-font-size) * 1.2) }
h4 { font-size: calc(var(--base-font-size) * 1.1) }
h5 { font-size: calc(var(--base-font-size) * 0.8) }

h1, h2, h3, h4, h5 {
  letter-spacing: 0.5px;
  margin-top: calc(var(--space)*2);
  text-align: center;
  transition: color .6s;
}

h1 {
  font-variation-settings: var(--font-flex-bold);
  line-height: 1.5;
  margin-bottom: var(--space);
  padding-top: calc(var(--space) * 2);
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-variation-settings: var(--font-flex-medium);
  line-height: 1.2;
  margin-bottom: var(--space-text);
}

.title-with-bg {
  background-color: var(--color-dark);
  display: inline-block;
  left: calc(var(--screen-padding-left) * -1);
  margin-top: 0;
  max-width: 1040px;
  overflow: hidden;
  padding: 0.3rem 1rem 0.3rem var(--screen-padding-left);
  position: relative;
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  width: fit-content;
  z-index: 990;
}

.title-with-bg h1 {
  display: inline;
  font-size: calc(var(--base-font-size) * 1.2);
  font-variation-settings: var(--font-flex-medium);
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-light);
}

.title-with-bg.blue {
  background-color: var(--color-blue);
}

.title-with-bg h1 a {
  color: var(--color-light);
}

.title-with-bg h1 a:hover {
  opacity: 0.7;
  color: var(--color-light);
}

@media screen and (max-width: 650px) {
  .title-with-bg  {
    display: block;
    inset: 0;
    text-align: center;
    width: 100%;
  }
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child { margin-top: 0 }
h2:last-child, h3:last-child, h4:last-child, h5:last-child { margin-bottom: 0 }

.subtitle {
  font-size: 90%;
  font-style: italic;
  text-align: center;
  color: #fff;
}

.subtitle:before {
    content: "";
    display: block;
    height: 1px;
    width: 2rem;
    background-color: #fff;
    margin: 0 auto 0.4rem;
}

.text-abstract {
  text-align: center;
  font-size: 120%;
  font-weight: 300;
}


small, .text-small { font-size: 70%; line-height: 1.2; }
.text-little { font-size: 80%; }
.text-big { font-size: 120%; line-height: 1.6; }

.text-small p:not(:last-child), .text-little p:not(:last-child) { margin-bottom: calc(var(--space-text) * 0.5);}

blockquote {
  font-size: 110%;
  font-weight: 300;
  font-style: italic;
  padding: var(--space);
  background-color: var(--color-light);

  border-left: 1px solid var(--text-color);
}

em {
  font-style: italic;
}

ul { 
  margin-left: 1rem;
}

ol { 
  list-style-type: decimal; 
  margin-left: var(--space-text);
}

ol li {
  margin-bottom: .6rem;
}


a:not(.button), .link:not(.button) {
  color: var(--color-link);
  text-decoration: none;
  transition: all .2s, color .2s;
}

a:not(.button):hover, .link:not(.button):hover {
  color: var(--color-link-hover);
}

a:not(.button).dashed, .link:not(.button).dashed {
  text-decoration: none;
  border-bottom: 1px dashed currentColor
}


hr {
  margin: calc(var(--space-text)*2) 0;
  border: 0;
  outline: 0;
  height: 1rem;
  background-color: var(--color-light);
}

hr.no-margins {
  margin: 0;
}


hr.dark {
  background-color: var(--color-dark);
}

hr.color-lightgray {
  background-color: var(--color-gray-light);
}


.hyphens{
  text-align: justify !important;
  hyphens: auto;
}

/* text alignment */
.align-right { text-align: right; }
.text-left, .align-left { text-align: left; }
.text-center, .align-center { text-align: center; }

/* for code */
code {
  max-width: 100%;
  overflow-x: scroll;

  display: inline-block;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;

  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  font-size: calc(var(--base-font-size) * 0.8);
}

code::-webkit-scrollbar { display: none; }

.code-inline {
  display: inline;
  vertical-align: unset;
  border-radius: 3px;
  /* direction: ltr; */
  text-align: left;
  word-spacing: normal;
  /* word-break: normal; */
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  hyphens: none;
  word-break: break-all;
  padding: 0.15rem 0.25rem;
  color: var(--color-light);
  background: var(--color-link);
}

div pre[class*="language-"] {
  padding-right: 3rem !important;
}

.token.function {
  color: rgb(136, 179, 248);
}

table {
  margin-bottom: var(--space-text);
  background-color: var(--color-light);
  max-width: 100%;
  overflow-x: auto;
}

table thead th {
  text-align: left;
  font-weight: bold;
}

table th, table td {
  padding: .5rem;
  border: 1px solid var(--color-border);
  font-size: 90%;
}

table tbody tr:hover {
    background-color: var(--color-gray-light);
}


@media screen and (max-width: 700px){
  table.mobile {
    border: 1px solid var(--color-border);
  }

  table.mobile td, table.mobile th {
    display: none;
  }

  table.mobile, table.mobile tbody, table.mobile tr, table.mobile [data-th] {
      display: block;
      width: 100%;
  }
  
  table.mobile [data-th] { border-width: 0; }

  table.mobile tr:not(:last-child) {
    border-width: 0 0 2px;
    border-style: dashed;
    border-color: var(--color-border);
  }

  table.mobile [data-th]:before {
    content: attr(data-th);
    display: block;
    font-weight: 700;
    margin-bottom: calc(var(--space) * 0.2);
  }
}

p, ul, ol, blockquote, table, dd {
  margin-bottom: var(--space-text);
}

p.text-small {
  margin-bottom: calc(var(--space-text) * 0.5);
}

p:last-child, ul:last-child, ol:last-child, blockquote:last-child, table:last-child, dd:last-child {
  margin-bottom: 0;
}

li:not(:last-child) {
  margin-bottom: var(--space);
}

.text-col-2, .text-col-3 {
  column-count: 2;
  column-gap: var(--space);
}

@media screen and (max-width: 750px) {
  .text-col-2, .text-col-3 {
    column-count: 1 !important;
  }
}

*[class*=text-col-], *[class*=text-col-] h1, *[class*=text-col-] h2, *[class*=text-col-] h3, *[class*=text-col-] h4, *[class*=text-col-] h5 { text-align: left; }

.text-col-3 {
  column-count: 3;
}

@media screen and (max-width: 1100px) {
  .text-col-3 {
    column-count: 2;
  }
}

.text-col-nobreak {
  break-inside: avoid-column;
}


/* ambassador program */
.label-red {
  display: inline-block;
  padding: 0 0.2rem;
  background-color: var(--color-red);
  color: var(--color-light)
}

.underline {
  text-decoration: underline;
}