.oldy {
  --oldy-box-color: var(--color-dark);
  --oldy-bg-color: var(--color-light);
  --oldy-padding: calc(var(--space) * 0.5);
	background-color: var(--oldy-bg-color);
	padding: var(--oldy-padding);
  border: 1px solid var(--oldy-box-color);
  box-shadow: .3rem .3rem 0 var(--oldy-box-color);
  font-family: var(--font-family);
  transition: all 0.2s ease-out;
}

.oldy__link {
  cursor: pointer;
  /* --oldy-box-color: var(--rb-color-blue); */
}

.oldy__link:hover {
  --oldy-box-color: var(--color-link);
}

.oldy.accent {
  --oldy-box-color: var(--rb-color-green-accent);
}


*[class*='grid-'] { 
  display: grid !important;
  gap: var(--space);
}

*[class*='grid-'] > p, *[class*='grid-'] > .card { margin-bottom: 0; }

*[class*='grid-'].middle {
  align-items: center;
}

.grid-5{
  grid-template-columns: repeat(5,1fr);
}

.grid-4{
  grid-template-columns: repeat(4,1fr);
}

.grid-3{
  grid-template-columns: repeat(3,1fr);
}

.grid-2{
  grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width:880px){
  .grid-5 { grid-template-columns: 1fr; }
}

@media screen and (max-width:990px){
  .grid-4 { grid-template-columns: repeat(2,1fr); }
  .grid-3 { grid-template-columns: 1fr; }
}

@media screen and (max-width:570px){
  .grid-4 { grid-template-columns: 1fr; }
  .grid-2 { grid-template-columns: 1fr; }
}

*[class*='grid-'].grid-valign-top {
    align-items: start;
  }

.grid { display: grid; }

.youtube-embed {
  margin-bottom: var(--space);
}

.youtube-embed__wrapper {
  width: 100%; 
  margin: 0px auto;
}

.youtube-embed__container {
  position: relative; 
  padding-bottom: 56.25%;
  padding-top: 25px; 
  height: 0px;
}

.youtube-embed__container iframe {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%;
}

.no-margins {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.list-simple {
  list-style: none;
  margin-left: 0;
}

.list-simple li {
  margin-bottom: 0.2rem;
}

.italic-abstract {
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

/* banner with pattern*/
.banner-with-pattern {
  position: relative;
  margin-top: 0;
  margin-bottom: calc(var(--space) * 3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-with-pattern__text-shadow  {
  margin-top: 0;
  text-align: left;
  font-size: calc(var(--base-font-size) * 3);
  letter-spacing: 0;
  text-shadow: 8px 2px var(--text-color);
}

.blue-banner {
  margin-top: 0;
}

.blue-banner-layout {
  padding-top: var(--space);
  padding-bottom: var(--space);
  display: grid;
  grid-template-columns: minmax(150px, 380px) minmax(180px,620px);
  gap: var(--space);
}

.blue-banner__text {
  font-weight: 500;
  font-style: italic;
  font-size: calc(var(--base-font-size) * 1.2);
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* form elements */

.contacts__input {
  padding: calc(var(--space) * 0.6);
  font-size: var(--base-font-size);
  font-family: inherit;
  font-weight: 500;
  color: #214FDA !important;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
}

.contacts__label {
  position: relative;
  display: block;
  height: 100%;
}

.contacts__label span {
  position: absolute;
  padding: 0;
  top: 5px;
  left:  calc(var(--space) * 0.5);
  font-size: calc(var(--base-font-size) * 0.6);
  font-weight: 500;
  color: #000;
  transition: color 0.33s ease-in-out, opacity 0.33s ease-in-out, visibility 0.33s ease-in-out;
}

.contacts__label .contacts__input:focus + span,
.contacts__label .contacts__textarea:focus + span   {
  color: #214FDA;
} 

.contacts__label .contacts__textarea:focus + span  {
  opacity: 0;
  visibility: hidden;
} 

.contacts__textarea:focus,
.contacts__input:focus {
  border: 1px solid var(--color-blue);
}

/* + list links */
.list-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-links li {
  position: relative;
}

.list-links li a {
  display: block;
}

.list-links li a:before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 2;
}

.list-links li:hover, .list-links li:hover a {
  color: var(--color-link);
}

.list-links svg path {
  fill: var(--text-color);
}

.list-links li:hover svg path {
  fill: var(--color-link) !important;
}
/* - list links */

/* + margins & other space */
.space-b {
  margin-bottom: var(--space);
}

.space-b-05 {
  margin-bottom: calc(var(--space) * 0.5);
}

.space-b-2 {
  margin-bottom: calc(var(--space) * 2);
}
/* - margins & other space */