.space-bottom {
	margin-bottom: var(--space);
}

.flex-line {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ui-caption{
	font-size: 0.800em;
	color: rgba(var(--body-bg), 0.6);
	font-style: italic;
}

.oldy {
  --oldy-box-color: var(--color-gray);
  --oldy-bg-color: var(--color-light);
  --oldy-padding: calc(var(--space));
  /* border: 1px solid var(--oldy-box-color); */
  /* box-shadow: .2rem .2rem 0 var(--oldy-box-color); */
	padding: var(--oldy-padding);
  font-family: var(--font-family);
	background-color: var(--oldy-bg-color);
  transition: all 0.2s ease-out;
  background: var(--header-bg);
  border: 1px solid #000;;
  text-align: center;
  box-shadow: .4rem .4rem 0 #000;
}

.oldy.dark {
  --oldy-box-color: #000
}

.dark-theme .oldy.dark  {
  --oldy-box-color: #fff
}

.oldy.green {
  --oldy-box-color: var(--color-green);
}

.oldy.bg-blue {
  --oldy-bg-color: var(--color-blue);
  color: var(--color-light)
}

.oldy.bg-blue a {
  color: var(--color-light)
}

.oldy.green .text-title {
  color: var(--color-green)
}

.oldy__link {
  cursor: pointer;
}

.oldy__link:hover {
  border-color: #ececec;
  box-shadow: .2rem .2rem 0 var(--color-darkness);
}

.oldy.oldy__card {
  display: block;
  color: var(--color-dark);
  text-decoration: none;
}

.oldy.oldy__card .img-back {
  margin-bottom: calc(var(--space)*0.5);
}

.oldy__card_s .img-back {
  height: 150px;
}

.oldy__card_s .img-back img {
  --oldy-card-i-size: 200px
}

.text-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: var(--font-family-code);
  margin-bottom: calc(var(--space) * 0.6)
}

.line-okay:before {
  content: "✔";
  margin-right: 0.1rem;
  font-size: 130%;
  line-height: 1;
}


.msg{
    position: fixed;
    bottom: calc( var(--screen-padding) + 0.4rem );
    right: calc( var(--screen-padding) + 0.4rem );
    max-width: calc( 100% - 2*(var(--screen-padding) + 0.4rem) ) ;
}

.msg__solid {
  padding: 0.4rem;
}

.msg__solid, .msg__solid .button { font-size: 90%; }
.msg__solid a { font-weight: 500; }


.msg__info{
  background-color: var(--link-color);
}

.msg__info, .msg__info a { color: var(--text-color-invert); }
  .msg__info a:hover{ color: var(--text-color); }

  .msg__info .button {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .msg__info .button:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
  }



.line-text > * {
  display: inline-block;
  margin-right: 1rem;
}

.line-text > *:last-child {
  margin-right: 0;
}


*[class*='grid-'] { 
  display: grid !important;
  gap: var(--space);
}

*[class*='grid-'] > p, *[class*='grid-'] > .card { margin-bottom: 0; }

*[class*='grid-'].middle {
  align-items: center;
}

.grid-5{
  grid-template-columns: repeat(5,1fr);
}

.grid-4{
  grid-template-columns: repeat(4,1fr);
}

.grid-3{
  grid-template-columns: repeat(3,1fr);
}

.grid-2{
  grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width:880px){
  .grid-5 { grid-template-columns: 1fr; }
}

@media screen and (max-width:990px){
  .grid-4 { grid-template-columns: repeat(2,1fr); }
  .grid-3 { grid-template-columns: 1fr; }
}

@media screen and (max-width:570px){
  .grid-4 { grid-template-columns: 1fr; }
  .grid-2 { grid-template-columns: 1fr; }
}

*[class*='grid-'].grid-valign-top {
    align-items: start;
  }

  .grid { display: grid; }
  .gridalign-top { align-self: flex-start; }
  .gridalign-bottom { align-self: flex-end; }

.fullwidth {
  width: 100%;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}

.inline-block-clear {
  display: inline-block;
}

.youtube-embed {
  margin-bottom: var(--space);
}


.img-back {
  background: var(--header-bg);
  height: 200px;
  overflow: hidden;
  position: relative;
}

.img-back img {
  --oldy-card-i-size: 270px;
  position: absolute;
  bottom: 0;
  left: calc(51% - var(--oldy-card-i-size)/2);
  width: var(--oldy-card-i-size);
  max-width: var(--oldy-card-i-size); /* rewrite */
}

/* @media screen and (max-width: 800px) {
  .img-back img {
    left: 10px;
  }
} */

.m-b-0 { margin-bottom: 0; }


.oldy details[open] {
  padding-top: var(--space);
  font-size: 80%;
}

.oldy details summary {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
}

.oldy details summary::marker, .oldy details summary::-webkit-details-marker {
  display: none;
}

.oldy.bg-blue details summary {
  background-color: var(--color-blue-dark-mid);
  list-style: none /* for hiding marker in Chrome*/
}

.oldy.bg-blue details[open] summary {
  background-color: var(--color-red);
}


.oldy-wrap-count { counter-reset: number; }

.oldy-wrap-count > .oldy {
  counter-increment: number;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 0;
}

.oldy-wrap-count > .oldy:before {
  content: counter(number);
  display: block;
  color: var(--oldy-bg-color);
  background-color: var(--oldy-box-color);
  font-family: var(--font-family-code);
  font-weight: bold;
  font-size: 3.5rem;
}

.oldy-count-content {
  padding: var(--oldy-padding);
  text-align: left;
}

.no-margins {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.list-simple {
  list-style: none;
  margin-left: 0;
}

.list-simple li {
  margin-bottom: 0.2rem;
}

.title-with-bg {
  display: inline-block;
  margin-top: 0;
  padding-top: 20px;
  max-width: 1080px;
  width: 100%;
  overflow: hidden;
}

.title-with-bg  * {
  display: inline;
  text-align: left;
  padding: 0;
  font-weight: 500;
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
}

.title-with-bg  span {
  padding-left: var(--space);
  padding-right: var(--space);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}