.oldy {
  --oldy-box-color: var(--color-gray);
  --oldy-bg-color: var(--color-light);
  --oldy-padding: calc(var(--space));
  /* border: 1px solid var(--oldy-box-color); */
  /* box-shadow: .2rem .2rem 0 var(--oldy-box-color); */
	padding: var(--oldy-padding);
  font-family: var(--font-family);
	background-color: var(--oldy-bg-color);
  transition: all 0.2s ease-out;
  background: var(--header-bg);
  border: 1px solid #000;;
  text-align: center;
  box-shadow: .4rem .4rem 0 #000;
}

.oldy.dark {
  --oldy-box-color: #000
}

.dark-theme .oldy.dark  {
  --oldy-box-color: #fff
}

.oldy__link {
  cursor: pointer;
}

.oldy__link:hover {
  border-color: #ececec;
  box-shadow: .2rem .2rem 0 var(--color-darkness);
}


*[class*='grid-'] { 
  display: grid !important;
  gap: var(--space);
}

*[class*='grid-'] > p, *[class*='grid-'] > .card { margin-bottom: 0; }

*[class*='grid-'].middle {
  align-items: center;
}

.grid-5{
  grid-template-columns: repeat(5,1fr);
}

.grid-4{
  grid-template-columns: repeat(4,1fr);
}

.grid-3{
  grid-template-columns: repeat(3,1fr);
}

.grid-2{
  grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width:880px){
  .grid-5 { grid-template-columns: 1fr; }
}

@media screen and (max-width:990px){
  .grid-4 { grid-template-columns: repeat(2,1fr); }
  .grid-3 { grid-template-columns: 1fr; }
}

@media screen and (max-width:570px){
  .grid-4 { grid-template-columns: 1fr; }
  .grid-2 { grid-template-columns: 1fr; }
}

*[class*='grid-'].grid-valign-top {
    align-items: start;
  }

.grid { display: grid; }

.youtube-embed {
  margin-bottom: var(--space);
}

.youtube-embed__wrapper {
  width: 100%; 
  margin: 0px auto;
}

.youtube-embed__container {
  position: relative; 
  padding-bottom: 56.25%;
  padding-top: 25px; 
  height: 0px;
}

.youtube-embed__container iframe {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%;
}


.img-back {
  background: var(--header-bg);
  height: 200px;
  overflow: hidden;
  position: relative;
}

.img-back img {
  --oldy-card-i-size: 270px;
  position: absolute;
  bottom: 0;
  left: calc(51% - var(--oldy-card-i-size)/2);
  width: var(--oldy-card-i-size);
  max-width: var(--oldy-card-i-size); /* rewrite */
}

.no-margins {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.list-simple {
  list-style: none;
  margin-left: 0;
}

.list-simple li {
  margin-bottom: 0.2rem;
}

.title-with-bg {
  /* min-height: 200px; */
  display: inline-block;
  margin-top: 0;
  padding-top: 3px;
  max-width: 1040px;
  width: 100%;
  overflow: hidden;
}


.title-with-bg  * {
  display: inline;
  text-align: left;
  padding: 0;
  padding-top: 18px;
  letter-spacing: 0;
  font-weight: 600;
  font-size: calc(var(--base-font-size) * 1.8);
  line-height: 1.8;
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
}

.title-with-bg.blue * {
  background-color: var(--color-blue);
}

.title-with-bg  span,
.title-with-bg a {
  padding-bottom: 15px;
  padding-left: calc(var(--space) * 0.5);
  padding-right: calc(var(--space) * 0.5);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: var(--color-light);
  transition: opacity 0.33s ease-in-out;
  text-transform: uppercase;
  font-size: calc( var(--base-font-size)* 1.5);
  font-style: normal;
  font-weight: 500;
}

.title-with-bg a:hover {
  color: var(--color-light);
}

.dark-theme a:not(.button):hover {
  color: var(--color-light);
}

.bold {
  font-weight: 600;
}

.link-btn {
  padding: calc(var(--space) * 0.4) calc(var(--space) * 1.4);
  background-color: var(--color-blue);
  color: var(--color-light) !important;
  font-size: var(--base-font-size);
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.33s ease-in-out;
}

.link-btn:hover {
  background-color: var(--color-blue-dark-mid)
}

.bold-text {
  font-weight: 500;
}

.italic-abstract {
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

/* for devices page */

.devices__link {
  padding: calc(var(--space) * 0.3) calc(var(--space) * 0.5);
  width: 100%;
  font-family: var(--font-family-code);
  font-weight: 500;
  font-size: calc(var(--base-font-size) * 1.2);
  background-color: var(--device-color-green);
  text-align: center;
  letter-spacing: 0;

}

.devices__link--blue {
  background-color: var(--device-color-blue);
}

