body {

	--base-font-size: 1.2rem;
	--font-family: "Roboto Flex", 'Roboto', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  	--font-family-code: 'Roboto Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--font-flex-title: 'wght' 1000, 'wdth' 90, 'opsz' 38, 'XTRA' 500, 'XOPQ' 100;
	--font-flex-subtitle: 'wght' 900, 'wdth' 80, 'opsz' 25, 'XTRA' 500, 'XOPQ' 80;

	--color-dark: hsl(299, 0%, 0%);
	--color-darkgray: hsl(0, 0%, 15%);
	--color-light: hsl(299, 0%, 100%);
	--color-gray: hsl(0, 0%, 80%);
	--color-gray-mid: hsl(229, 0%, 60%);
	--color-gray-dark: hsl(0, 0%, 39%); /* listItem component */
	--color-gray-light: hsl(0, 0%, 95%);
	--color-orangeYellow: hsl(39, 95%, 49%); /* intro page scheme */
	--color-orange:hsl(18, 89%, 48%);  /* architecture page */
	--color-yellow: hsl(54, 100%, 77%); /* devices page */
	--color-red: hsl(337, 96%, 38%);
	--color-pink:hsl(337, 100%, 74%); /* intro page scheme */
	--color-bright-pink:hsl(323, 100%, 62%); /* devices item */
	--color-lightness:hsl(0, 0%, 95%); 	/* contacts component */
	--color-darkness: hsl(0, 0%, 12%);  /* contacts component */

	--color-blue-vivid: hsl(181, 97%, 73%);
	--color-blue-lighter:hsl(199, 100%, 84%); /* architecture page */
	--color-blue-light:hsl(199, 100%, 72%);
	--color-blue-mid: hsl(198, 98%, 47%);
	--color-blue: hsl(228.7,67.5%,49.4%); 
	--color-blue-dark: hsl(228.7,67.5%,40%);
	--color-blue-xrt: hsl(220, 89%, 74%);  /* xrt page */

	--color-violet: hsl(226, 73%, 83%); /* white paper page */
	--color-violet-mid:hsl(223, 46%, 24%); /* white paper page */
	--color-violet-dark: hsl(196, 100%, 50%); /* white paper page */
	--color-purple: hsl(251, 68%, 23%);

	--rb-color-blue: var(--color-blue);
	--rb-color-blue-dark: var(--color-blue-dark);
	--rb-color-green: hsl(82,96%,41%);
	--rb-color-green-dark: hsl(82,96%,35%);
	--rb-color-greenish: hsl(72, 100%, 41%);
	--rb-color-pale-blue: hsl(203, 79%, 54%);
	--rb-color-pale-blue-dark: hsl(203,79%,35%);
	--rb-color-vivid-blue: var(--color-blue-vivid);
	--rb-color-vivid-blue-dark: hsl(181, 97%, 35%);
	--rb-color-violet: hsl(236, 90%, 71%);
	--rb-color-violet-dark: hsl(236, 90%, 60%);
	--rb-color-light: var(--color-light);
	--rb-color-dark: var(--color-dark);
	--rb-color-gray: var(--color-gray-mid);
	--rb-color-light-gray: hsl(60, 4%, 89%);

 	--body-bg: var(--color-light);
	--header-bg: var(--color-light);
 	--text-color: var(--color-dark);
	--color-border: var(--color-gray);

	--color-link: var(--color-blue);
	--color-link-hover: var(--color-blue-dark);
	--color-link-contacts: var(--color-blue-dark); 

	/* gradients for pages bg */
	--color-gradient-purpleblue: linear-gradient(var(--color-blue-mid), var(--color-purple)); /* intro page */
	--color-gradient-mars: linear-gradient(var(--color-blue) 30%, #25bfe8 85%, #f0d283 100%); /* vision + wp page */
	--color-gradient-marketplace:  linear-gradient(#03a7eda6, #03a7ed11); /* intro page */
	--color-gradient-vision-cybernetics: radial-gradient(circle at 80%, #a6fcf6, #1717b0 50%);  /* intro page */
	--color-gradient-architecture-banner: radial-gradient(circle at 80%, #AB02AC, #F25206 70%);  /* architecture + wp page */

	/* animation */
	--animation-bump: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	/* helpers */
  --space: 2rem;
  --space-text: 2rem;
  --content-width: 1660px;
	--text-width: calc(1000px + (var(--space) * 2));
	--mid-width: 1180px;

  --screen-padding-top: 3rem;
  --screen-padding-right: 1rem;
  --screen-padding-bottom: 1rem;
  --screen-padding-left: 3rem;

	--space-bannertop: 4.5rem;
}


/* DARK THEME */

body.dark-theme {
	--color-dark: hsl(299, 0%, 100%);
	--color-darkgray:	hsl(0, 0%, 7%);
	--color-light: hsl(299, 0%, 0%);
	--color-gray:hsl(0, 0%, 90%);
	--color-gray-mid: hsl(0, 0%, 56%);
	--color-gray-dark: hsl(0, 0%, 69%);
	--color-gray-light: hsl(0, 0%, 13%);

	/* --color-yellow: hsl(54, 74%, 43%); */
	--color-blue-mid: hsl(198, 98%, 47%);
	--color-blue: hsl(229, 89%, 67%);
	--color-blue-lighter:hsl(199, 46%, 31%);
	--color-blue-xrt: 	hsl(220, 96%, 22%);
	--color-purple: hsl(332, 73%, 10%);
	--color-bright-pink: hsl(323, 87%, 81%);

	--rb-color-light-gray: hsla(0, 0%, 40%, 0.575);
	--rb-color-greenish: hsl(72, 100%, 19%);

	--color-gradient-purpleblue: linear-gradient(#2e576a, var(--color-purple));
	--color-gradient-marketplace:  linear-gradient(	#696a6aa6, #03a7ed11);
	--color-gradient-mars: linear-gradient(#1b2c7a 30%, #000000 85%, #7e631b 100%);
	--color-gradient-vision-cybernetics: radial-gradient(circle at 80%, #000000, #24246e 50%);
	--color-gradient-architecture-banner: radial-gradient(circle at 80%, #470047, #cf602a 70%);


	--color-border: var(--color-gray);
	--color-link: hsl(229, 96%, 79%);
	--body-bg: var(--color-darkness);
	--header-bg: hsla(0, 0%, 19%, 1);
}

/* END OF DARK THEME */


@media screen and (max-width: 450px) {
	body {
		--space: 1.2rem;
	}
}