---
// components
import Layout from "../../layouts/Layout.astro";
import CasesList from "../../components/cases/CasesList.vue";

import items from '../../data/cases.js';

const casesIntroText = `
  <p>${await $tr('Robonomics is 100% open-source, secure, сost-effective, and futuristic IoT platform for connecting robotics under Polkadot and Ethereum control. Anyone can build services with Robonomics. Below a list of our  proven applications of modern robotics technologies.')}</p>
`;
---

<Layout
  title={$tr("Cases")}
  ogImage="/opengraph/cases.webp"
  pageTitle={$tr('R&D cases')}
  pageIntroText={casesIntroText}
>

<CasesList items={items} client:load/>

</Layout>