---
---

<section class="layout wallpapers-grid">
  <slot />
</section>

<style>
  .wallpapers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space);
  }

  @media screen and (max-width: 1220px) {
    .wallpapers-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 800px) {
    .wallpapers-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
