---
import Layout from '../../layouts/Layout.astro';
import ShopHeroFeatures from '../../components/blocks/ShopHeroFeatures.astro';
import VideoGallery from '../../components/blocks/VideoGallery.astro';

// Shop images for gallery
const shopImages = [
  '/images/shop/shop-5.webp',
];

// Shop videos
const shopVideos = [
  '/video/shop-1.mp4',
  '/video/shop-2.mp4',
  '/video/shop-3.mp4',
  '/video/shop-4.mp4',
  '/video/shop-6.mp4',
];
---

<Layout 
  title={$tr("Robonomics open-source hardware")} 
  description={$tr("Experience the power of true DePIN (Decentralized Physical Infrastructure Network) — a revolutionary technological movement brought to life and thriving with Robonomics.")}
  ogImage="/og-pics/devices.webp"
>

  <div class="layout layout__content shop-title"><h1 class="page-title devices-title">{$tr('Shop devices')}</h1></div>

  <ShopHeroFeatures />

  <VideoGallery videos={shopVideos}  cls="pt"/>

</Layout>

<style>

  .shop-title {
    padding-top: calc(var(--space) * 2);
  }

  .devices-title {
    margin: 0;
    margin-bottom: calc(var(--space) * 2.5);
  }

  @media screen and (max-width: 680px) {
    .devices-title {
      font-size: calc(var(--base-font-size) * 1.6);
    }
  }


</style>