---
import Layout from '../../layouts/Layout.astro';

// components import 
import DevicesList from '../../components/blocks/DevicesList.astro';

// images

---

<Layout 
  title={$tr("Robonomics open-source hardware")} 
  description={$tr("Experience the power of true DePIN (Decentralized Physical Infrastructure Network) — a revolutionary technological movement brought to life and thriving with Robonomics.")}
  ogImage="/og-pics/devices.webp"
  pageTitle={$tr("Robonomics open-source hardware")} 
>

  <div class="layout layout__content">
    <p><b>{$tr('Meet smart devices & futuristic hardware from an autonomous team with extensive expertise in robotics, blockchain, and IoT.')}</b></p>
    <DevicesList />
  </div>

  
</Layout>


<style>

.layout__content b {
  font-size: calc(var(--base-font-size) * 1.1);
}
</style>