<div class="books-footer">
  <span>
    {$tr('Do you want')}<br /> {$tr('to dive even deeper?')}
  </span>
  <div class="books-footer__links">
    {$tr('Our')} <a href="/white-paper/">{$tr('White Paper')}</a> & <a href="/papers/">{$tr('Science')}</a>
  </div>
</div>

<style>
  .books-footer {
    position: relative;
    margin-top: calc(var(--space) * 6);
    padding-left: calc(var(--space) * 2);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: calc(var(--base-font-size) * 1.8);
    line-height: 1.2;
    text-align: center;
  }

  .books-footer::after {
    content: '';
    position: absolute;
    top: -120px;
    right: -140px;
    width: 215px;
    height: 250px;
    background-image: url('/images/books/books-decor.webp');
    background-position: center;
    background-size: 215px;
  }

  .books-footer span {
    display: block;
    margin-bottom: calc(var(--space) * 1.1);
    text-align: left;
  }

  .books-footer__links {
    font-size: calc(var(--base-font-size) * 1.2);
    color: var(--color-blue);
    text-align: left;
  }

  .books-footer__links a {
    color: var(--color-blue);
  }

  @media screen and (max-width: 865px) {
    .books-footer::after {
      top: -120px;
      right: -40px;
    }
  }

  @media screen and (max-width: 650px) {
    .books-footer {
      margin-top: calc(var(--space) * 2);
    }

    .books-footer::after {
      display: none;
    }
  }
</style>
