---
import TextCard from '../TextCard.astro'
---
<div style="margin-top: calc(var(--space) * 2)">
  <TextCard icon="/icons/icon-future.png" >

    <h3>{$tr('Dotsama for robots program initiated')}</h3>
  
    {$tr('Head over to the')} <a href="/kusama-slot/" aria-label="check our kusama slot page">{$tr('Robonomics Kusama slot page')}</a> {$tr('to know more!')} 🦾
  
  </TextCard>
</div>
