---
import TextCard from '../TextCard.astro'
---
<div style="margin-top: calc(var(--space) * 2)">
  <TextCard icon="/icons/icon-future.png">
    <h3>{$tr('Dotsama for robots program initiated')}</h3>
    <p>{$tr('The original crowdloan page referenced in this post has been deprecated and is no longer available.')}</p>
  </TextCard>
</div>
