---
// components
import Layout from '../layouts/Layout.astro';
---


<Layout 
  title = {$tr("Robonomics network architecture")}
  description = {$tr("We are experimenters, engineers and scientists. It is important for us not only to develop a solution that is relevant for today, but first to understand the scientific validity of the approach and achieve clarity in the presentation of the principles that should underlie the entire architecture of a software solution.")}
  ogImage="/website_cover_architecture.webp"
>

<div class="page architecture">
  <section class="architecture-banner section section__solid animate-inside">
    <div class="layout layout__content">
      <article>
        <h1>{$tr('Robonomics architecture')}</h1>
        <p class="hyphens">{$tr("The main idea that the authors of Robonomics tried to convey before - is the natural, logical, and seemingly inevitable evolution from the current level of the economy into fully automated services. Automated services will need to have both the ability to speak the language of human economics and also the machines' own economics to perform various operations in the world around them at a speed not available to humans.")}</p>
        <p class="hyphens">{$tr('Next we would like to show you the practical areas of human-machine interaction using modern Internet technology. We will move from the familiar IoT device architecture of technical information exchange through cloud services to the organization of technical-economic interaction through a decentralized, globally accessible network of providers.')}</p>
        <p class="hyphens">{$tr('To begin with, we need to make an excursion into the area that is most clearly related to the network connection of automated systems. After that, we will look at the basics of the Internet of Things in order to highlight the problems and main challenges faced by the creators of IoT systems and to the solution of which Robonomics is aimed.')}</p>
      </article>
      <div class="bg" aria-hidden="true">
        <img alt="" aria-hidden="true" src="/images/architecture/vision-architecture-background.webp"/>
      </div>
    </div>
  </section>

  <section class="vision-fathers section layout layout__content animate-inside">

    <div class="vision-fathers-image">
      <h2>{$tr('Overview of the state of the internet of things (IoT)')}</h2>

      <img alt="" aria-hidden="true" src="/images/architecture/person-victor-glushkov.webp"/>
    </div>

    <article class="hyphens">
      <p>{$tr('The issue of network accessibility of automatic devices has been discussed all over the planet since the 60s, and already at that time quite serious attempts were made to solve it. For example, the Soviet cyberneticist Viktor Glushkov proposed and partially implemented the automated collection of information on the production volumes of an individual plant as part of the design of the')} <a href="https://en.wikipedia.org/wiki/OGAS">{$tr('OGAS')}</a> {$tr('national information system in the 60s and 70s. It is widely known how the Coca-Cola vending machine was connected to the ARPANET in the 1980s so that the machines could report the availability of drinks and their temperature.')}</p>
      <p>{$tr('But still, the actual development of IoT is happening today, due to the widespread use of enabling technologies. The main drivers of the rapid evolution of Internet of Things applications are the results of the development of many areas – from wireless communications of various ranges and embedded devices, to cloud analytics and machine learning. The number of IoT devices has been growing steadily over the past 10 years (with a forecast of 25 billion units by 2030), and this has spurred researchers and developers to create new IoT applications in various areas such as healthcare, home automation, agribusiness, environmental protection.')}</p>
      <p>{$tr('We are more interested in the process of building IoT-systems and the tasks that arise in this process. Over the years of research, many different architectures have been proposed, and by averaging them, we can distinguish three basic components of an IoT system: devices, network infrastructure, analytical, computing and control machines.')}</p>
    </article>


  </section>

  <hr/>

   <section class="architecture-digital-twin section layout layout__content animate-inside">
    <div>
      <h2>{$tr('New challenges')}</h2>
      <img alt="" aria-hidden="true" src="/images/architecture/vision-digital-twin.webp"/>
    </div>
    <article class="hyphens">
      <p>{$tr("The development and application of the Internet of Things has shown that solving typical problems is not enough. Completely new concepts and principles, based on earlier mistakes and identified shortcomings, have emerged by the present day. This certainly convenient approach of using cloud services turned out to have a number of critical shortcomings related to scalability, privacy, and security. In an effort to solve these problems, it was proposed to bring data processing, logic, and computation closer to the immediate place where they are used. Thus, the concepts of fog and edge computing emerged, with intermediate systems between the cloud and devices taking over some of the cloud's functions. Therefore, the creation of edge systems has become one of the new challenges of building the Internet of Things.")}</p>
      <p>{$tr('Another recent challenge for building IoT has been the concept of the digital twin — a digital version of real equipment that copies its specifications and historical data. This concept is at its best in areas where it is necessary to have an accurate and complete specification of a process and be able to predict its development. The Internet of Things acts as the main integrator of digital twins, but this task is much more profound than the usual connectivity of IoT devices.')}</p>
      <p>{$tr('Right now we are witnessing a whole segment of the network, designed and convenient not for people, but for machines. The Internet of Things is no longer just the mechanics of connecting a device to the network, but more services, created and available specifically to devices. The Internet of Things not only connects the user and the device, but also helps the devices to handle the tasks of providing a service for the person, but autonomously.')}</p>
    </article>
  </section>

  <hr/>

  <section class="architecture-iot-classification section layout layout__content animate-inside">
    <div>
      <h2>{$tr('Classification of IoT devices')}</h2>
      <img aria-hidden="true" alt="" src="/images/architecture/iot-classification.webp"/>
    </div>
    <div>
      <div>
        <img aria-hidden="true" alt="" src="/images/architecture/embedded-systems.webp"/>
        <div>
          <h3>{$tr('Embedded iot systems')}</h3>
          <p>{$tr('Such systems have no user interfaces and are typically used at the lowest level of the IoT ecosystems to provide basic functionality. Have to be energy efficient and small. Have limited computing and communication resources. IoT gateways or controllers usually act as signal receivers.')}</p>
        </div>
      </div>
      <div>
        <img aria-hidden="true" alt="" src="/images/architecture/edge-systems.webp"/>
        <div>
          <h3>{$tr('Edge-systems: IoT gateways and controllers')}</h3>
          <p>{$tr('These systems act as a link between locally accessible embedded systems and the global Internet. They typically support multiple communication protocols of embedded systems and transfer telemetry from devices to the cloud and control signals backwards. Often these devices are a more sophisticated version of the WiFi router, equipped with a single board computer to perform primary processing of information from devices without leaving the local network.')}</p>
        </div>
      </div>
      <div>
        <img aria-hidden="true" alt="" src="/images/architecture/autonomous-systems.webp"/>
        <div>
          <h3>{$tr('Autonomous systems')}</h3>
          <p>{$tr('This class includes complex automata (such as Spot from Boston Dynamics), which have a control component on the level of a full computer with a high-performance processor and a large amount of memory. In such cases, the robot is connected to the Internet without additional intermediate solutions (edge-systems). The necessary software for accessing the Internet of Things is installed directly on the computer of the stand-alone system. Data is collected and partially processed locally, then broadcast to the Internet similar to any full-fledged network device.')}</p>
        </div>
      </div>
    </div>
  </section>

  <hr/>

  <section class="architecture-iot-providers section layout layout__content animate-inside">
    <div class="grid-2">
      <div>
        <h3>{$tr('Internet of Things providers')}</h3>
        <article class="hyphens">
          <img aria-hidden="true" alt="" src="/images/architecture/iot-providers.webp"/>
          <p>
            {$tr('The main job of IoT providers is providing users with remote access to data and analytics, as well as management of smart devices over the Internet. The main criteria for the quality of the provider is security of operations, stability of connection and availability of the provider from anywhere in the world.')}
            </p>
          <p>{$tr('The standard scheme for working with an IoT provider includes: installing software compatible with the cloud smart device, setting up cloud-side management services after the first successful connection of a device, connection of various kinds of analytical services.')}</p>
        </article>
      </div>
      <div>
        <h3>{$tr('Digital twins are the heart of the internet of things')}</h3>
        <article class="hyphens">
          <img aria-hidden="true" alt="" src="/images/architecture/digital-twin-small.webp"/>
          <p>{$tr('Speaking of digital twins, it should be noted that architecturally their implementation is required; as a refusal to give the user direct access to control devices and change their states. Out of the most obvious reasons for rejection are, first, the presence of their own requirements and conditions in the devices just before the launch. Second, if multiple user devices must access a single data source, giving personalized control to each user can be critical. Lastly, it is extremely useful to keep the last actual state of the device available in case it goes out of operation.')}</p>
          <p>{$tr('As a result, we have a separation of the loop of information exchange with the user and the actual generation of actual data by the sensors. To illustrate this principle, below is the process of the user working with an IoT device using a digital twin.')}</p>
        </article>
      </div>

    </div>
  </section>

  <hr/>

  <section class="architecture-data-flows section layout layout__content animate-inside">
    <article class="hyphens">
      <h3>{$tr('IoT data flows in cloud services')}</h3>
      <div class="grid-3">
          <img aria-hidden="true" alt="" src="/images/architecture/data-flows-1.webp"/>
          <div>
            <p>1.</p>
            <p>{$tr('Input values for cloud triggers. For example, the cloud service sends various notifications to the user in the event of a report from a car alarm sensor about a strike.')}</p>
          </div>
          <img aria-hidden="true" alt="" src="/images/architecture/data-flows-2.webp"/>
          <div>
            <p>2.</p>
            <p>{$tr('Output data for complex analytics that cannot be produced at the edge level. For example, when processing video for face recognition in a crowd.')}</p>
          </div>
          <img aria-hidden="true" alt="" src="/images/architecture/data-flows-3.webp"/>
          <div>
            <p>3.</p>
            <p>{$tr('The basis for forming a digital twin of the device in order to create a cast of its state. For example, at the user’s request in the mobile app or on the website.')}</p>
          </div>
      </div>
    </article>
  </section>

  <hr/>

  <section class="architecture-data-flows section layout layout__content animate-inside">
    <article class="hyphens">
      <h3>{$tr('Popular examples of IoT solutions')}</h3>
      <div class="grid-3">
        <img aria-hidden="true" alt="" src="/images/architecture/data-flows-4.webp"/>
        <div>
          <p>1.</p>
          <p>{$tr('A typical smart home system provides a wide range of options for controlling your living space. With its help you can remotely control the door locks, setting up one-time or regular access to the room as family and friends, and for maintenance or delivery personnel. With numerous sensors and recording devices, the system is able to include video recording when triggering motion sensors, autonomously make decisions to shut off the water supply when a leak is detected in the water system, start a scheduled robot vacuum cleaner, providing a cleaning report to the user app, change the room temperature to the optimal value depending on your schedule.')}</p>
        </div>
        <img aria-hidden="true" alt="" src="/images/architecture/data-flows-5.webp"/>
        <div>
          <p>2.</p>
          <p>{$tr('Smart cars. Providing the car’s onboard electronics with access to mobile Internet, the user gets access to remote control of various car functions directly from his smartphone: opening doors, turning on the air conditioner, controlling the headlights. If such cars are used for carsharing, then you can create an interactive map of the location of cars with their status, the remaining fuel, etc. for the clients of this service.')}</p>
        </div>
        <img aria-hidden="true" alt="" src="/images/architecture/data-flows-6.webp"/>
        <div>
          <p>3.</p>
          <p>{$tr('Smart equipment leasing system. The company installs robotic manipulators on the conveyor line under a contract with payment for the number of operations or for the time of the robot. Manipulators regularly provide a log of operations performed, errors and warnings. The robot’s leasing fee is calculated on the basis of this, as well as the vendor’s predictive maintenance of the robots.')}</p>
        </div>
      </div>
    </article>
  </section>

  <hr/>

  <section class="architecture-current-problems section layout layout__content animate-inside">
    <article class="hyphens">
      <div>
        <h2>{$tr('Current problems of building IoT solutions')}</h2>
        <h3>{$tr('Global availability')}</h3>
        <article class="hyphens">
          <p>{$tr('The standard client-server architecture requires specifying endpoints when routing messages from IoT devices. Thus, during the life of a smart device, the lack of connection will mean a limitation in the ability to control and interact with the device.')}</p>
          <p>{$tr('For example, the trade war between China and the United States is already a sword of Damocles hanging over thousands of consumers of Chinese smart appliances in the United States and vice versa. At any moment, the blocking of Xiaomi servers by the U.S. authorities could affect users of devices that connect to the manufacturer’s cloud services.')}</p>
          <p>{$tr('Being in the immediate vicinity of an IoT device, you can’t control it from a mobile app if there is no connection to the servers, through which the user authentication and telemetry collection from the devices themselves are provided. That is, the device is actually controlled by the cloud, not the user.')}</p>
        </article>
        <h3>{$tr('Cybersecurity')}</h3>
        <article class="hyphens">
          <p>{$tr('The most important reason for the low cybersecurity of most IoT solutions stems from the problematic legacy of cloud client-server architecture. For example, the most common smart home architecture right now is usually an IoT hub, connected to a cloud service. Thus, a typical IoT system is a central control element connected to multiple external systems. Certainly, the cloud service is more secure than low-level devices, but the consolidation of centralized control over hundreds of thousands of such systems makes any security breaches and leaks a massive disaster.')}</p>
          <p>{$tr('The cloud service servers are subject to all the typical cybersecurity problems: network attacks, DoS attacks (driving the system to failure), malicious modifications, user session hijacking, etc. But strong threats also include unintentional problems such as design errors, misuse or natural disasters that cause servers to fail. Also another definitely important point is the need in principle to trust the cloud and the people who maintain it.')}</p>
          <p>{$tr('All of this is exacerbated by the scale of IoT solutions. The number of IoT systems. Certainly, the cloud service is more secure than low-level devices, but the consolidation of centralized control over hundreds of thousands of such systems makes any security breaches and leaks a massive disaster.')}</p>
        </article>
      </div>
      <div>
        <h3>{$tr('Data privacy')}</h3>
        <article class="hyphens">
          <p>{$tr("The privacy point needs to be separated from cybersecurity, because this problem is specific to IoT systems. Due to the large number and varied device types that are much more integrated into the physical world than just computers and smartphones, the range of types of private data is multiplied. It’s no longer just GPS location, shopping records, financial transactions and photos, but also a permanent record of video and conversations, voice prints, health conditions and even a list of a person’s habits. Among the types of threats related to privacy are: identification of information, localization and tracking, profiling, inventory attack, data linking attack.")}</p>
          <p>{$tr('The creepiest part is that users have little or no awareness that they are giving up their privacy because they have almost no idea what data is being collected and how it is being used. The threat to privacy grows not only from intruders, but also from organizations and government agencies precisely because of this. The cloud IoT services typically require maximum data transfer from devices, and there are no ways to prohibit or narrow data transfer («Accept the Terms or Piss Off»). Moreover, despite the fact that the collected data is an asset and has real value, the person it is collected from is not only denied the right to actively dispose of that data, but even is denied any compensation for their own data’s collection and usage.')}</p>
        </article>
      </div>
    </article>
  </section>

  <section class="architecture-main-tasks section section__solid section__blue-lightest animate-inside">
    <div class="layout layout__content">
      <article class="hyphens">
        <h2>{$tr("Main tasks of robonomics architecture")}</h2>
        <p>{$tr('Building on the achievements and challenges of cloud platforms, Robonomics aims to offer the IoT market safer and more advanced Internet solutions at every stage of human-machine communication. Below are the main tasks that Robonomics is aimed at:')}</p>
        <div>
          <h3>1 >> </h3>
          <h3>{$tr('Managing an IoT device using a decentralized cloud')}</h3>
        </div>
        <p>{$tr('Blockchain networks have all the capabilities to provide the highest degree of security for running a device and getting its telemetry. The interaction with the device can actually be described by changing the state of the digital twin stored in the blockchain network and sending information about these changes. In the case of a permissionless blockchain, we can talk about the guarantees of global availability of providers for IoT, as well as a high level of protection of digital twin data from unwanted changes.')}</p>
        <div>
          <h3>2 >> </h3>
          <h3>{$tr('Performing technical and economic transaction between people and machines')}</h3>
        </div>
        <p>{$tr('Thanks to the mechanism of cryptocurrencies and smart contracts, we can provide access to automated systems directly to digital markets. For example, Ethereum already implements most of the basic tools of economic activity that can be used in the operation of autonomous devices. The applications created for the interaction between the end user and the IoT device will be much more effective if the terms of service and payment for it are inseparable from the launch parameters of the device.')}</p>
        <div>
          <h3>3 >> </h3>
          <h3>{$tr('Serverless IoT applications for users')}</h3>
        </div>
        <p>{$tr('Modern advances in web3-technology can solve the issue of user privacy. With web3 there is no need to authenticate or require connection to specific servers to access telemetry and control the device.')}</p>
      </article>
      <div>
        <div>
          <img aria-hidden="true"  src="/images/architecture/robonomics-logo.webp"/>
          <p>{$tr('Robonomics is a decentralized cloud for digital twins of IoT devices. Robonomics supports the techno-economic format for communication, as well as providing private applications for users')}</p>
        </div>
      </div>
    </div>
  </section>

  <hr class="no-margins"/>

  <section class="architecture-basic-components section section__solid section__blue-lightest animate-inside">
    <div class="layout layout__content">
      <h2>{$tr('Basic components of Robonomics architecture')}</h2>
      <div class="grid-2">
        <div class="grid-3">
          <img aria-hidden="true" alt="" src="/images/architecture/vision-basic-components-1.svg"/>
          <img aria-hidden="true" alt="" src="/images/architecture/vision-basic-components-2.svg"/>
          <img aria-hidden="true" alt="" src="/images/architecture/vision-basic-components-3.svg"/>
          <div>
            <div><h2>1</h2></div>
            <p>{$tr('A human interface to access the system')}</p>
          </div>
          <div>
            <div><h2>2</h2></div>
            <p>{$tr('A communication protocol')}</p>
          </div>
          <div>
            <div><h2>3</h2></div>
            <p>{$tr('A machine interface')}</p>
          </div>
        </div>
        <article class="hyphens">
          <div>
            <h3>1 >> </h3>
            <h3>{$tr('Human interface:')}</h3>
          </div>
          <p>{$tr('We propose the use of decentralized applications (dapps) as the main way to connect users to control smart devices over the Internet. Thus, we will be able to provide the most secure (in terms of data) user interface to the system, which will be able to simultaneously work in the conditions of the local city network, and through a common global network.')}</p>
          <div>
            <h3>2 >> </h3>
            <h3>{$tr('Communication protocol:')}</h3>
          </div>
          <p>{$tr('Its role is played by the Robonomics network, a specification developed by the project team that implements a decentralized network of providers that provide the transmission, processing and storage of information needed to run IoT devices. In fact, it is an implementation of a function-specific node for IPFS, Ethereum, and Polkadot networks.')}</p>
          <div>
            <h3>3 >> </h3>
            <h3>{$tr('Machine interface:')}</h3>
          </div>
          <p>{$tr('We have chosen the most well-known robotics framework called Robot Operating System (ROS) as the standard interface for integrating any compatible cyber-physical system. Robonomics supports several uses for ROS. The implementation of Robonomics for the Ethereum network is in the form of the ROS package robonomics_comm. For the ROS 2 architecture, we implement support for Robonomics as a middleware layer (see «Robonomics as ROS 2 Middleware» for details). When the use of ROS is redundant (e.g., when working with IoT devices), a Python robonomics-interface module has been developed. It helps to access the functions of Robonomics natively and works with both local and private and remote and public nodes.')}</p>
        </article>
      </div>
    </div>
  </section>

  <hr class="no-margins"/>

  <section class="architecture-simple-representation section section__solid section__blue-lightest animate-inside">
    <div class="layout layout__content">
      <h2>{$tr('A simple representation of Robonomics architecture')}</h2>
      <div class="grid-2">
        <div>
          <p>{$tr('Here is a general diagram of the complete device startup cycle using the Robonomics platform:')}</p>
          <ol>
            <li>{$tr('The user’s decentralized application sends a request for a device control function through the Robonomics network.')}</li>
            <li>{$tr('The Robonomics network provides request translation using libp2p and captures events in Ethereum blockchain or Robonomics parachain.')}</li>
            <li>{$tr('The control of the device is provided by a decentralized network, which is guaranteed to store the necessary information to run the IoT device.')}</li>
            <li>{$tr('The IoT device independently receives information from Ethereum and Polkadot networks about the current state of the digital twin. This ensures that the device can be started safely only after the technical and economic start-up parameters have been settled.')}</li>
            <li>{$tr('As a result of the operation, the IoT device publishes a log of completed operations, which can be used as evidence of the service provided or for debugging errors.')}</li>
            <li>{$tr('The log is transformed into a report for the user and becomes available in his dapp.')}</li>
          </ol>
        </div>
        <img aria-hidden="true" alt="" src="/images/architecture/vision-simple-representation.svg"/>
      </div>

    </div>
  </section>
 
</div>
</Layout>



<style>

  .architecture .layout__content {
    --content-width: 1660px;
    max-width: var(--content-width);
    text-align: center;
  }

  .architecture article,
  .activity h2,
  .architecture h3
  {
    text-align: left;
  }

  @media screen and (max-width: 1100px) {
    .text-col-3 {
      column-count: 1;
    }
  }

  /* VISION Fathers */

  .vision-fathers a {
    color: var(--color-dark)
  }

  @media screen and (min-width: 1100px) {
    .vision-fathers {
      display: grid;
      grid-template-columns: 500px 1fr;
    }
  }

  @media screen and (min-width: 1500px) {
    .vision-fathers article {
      column-count: 2;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 560px) {
    .vision-fathers {
      column-count: 2;
      column-gap: var(--space);
    }
  }

  .vision-fathers-image {
    max-width: 550px;
    text-align: left;
  }

  .vision-fathers-image img {
    display: block;
    width: 80%;
    margin: var(--space) auto var(--space)
  }

  .vision-fathers-image h2 {
    text-align: left;
    margin: 0 0 calc(var(--space) / 2);
  }

  /* Architecture banner */

  .architecture-banner {
    background-image: var(--color-gradient-architecture-banner);
    color: #fff;
    padding-top: calc(var(--space) * 3);
    padding-bottom: calc(var(--space) * 3);
    overflow: hidden;
    position: relative;
  }

  .architecture-banner h1 {
    text-align: left;
  }

  .architecture-banner article {
    max-width: 50%;
    position: relative;
    z-index: 2;
  }

  .architecture-banner .bg {
    position: absolute;
    bottom: -20px;
    left: 55%;
    z-index: 1;
    height: 100%;

  }
  .architecture-banner .bg img {
    display: block;
    max-width: 1400px;
    width: auto;
    height: 100%;
  }

  @media screen and (max-width: 1000px) {
    .architecture-banner .bg {
      position: relative;
      bottom: -8rem;
      left: 10%;
      height: auto;
    }
    .architecture-banner .bg img {
      height: auto;
      width: 80%;
    }
    .architecture-banner article {
      max-width: 100%;
    }
  }

  /* Digital twin */

  .architecture-digital-twin {
    grid-template-columns: 1fr 1fr;
  }

  .architecture-digital-twin h2 {
    text-align: left;
  }

  .architecture-digital-twin img {
    display: block;
    text-align: left;
    margin-top: calc(var(--space) * 3);
    padding-left: var(--space);
    width: 100%;
    max-width: 1000px;
  }

  @media screen and (max-width: 1000px) {
    .architecture-digital-twin {
      grid-template-columns: 400px 1fr;
      column-gap: calc(var(--space) * 2);
    }
  }

  @media screen and (max-width: 1100px) {
    .architecture-digital-twin p:first-child {
      margin-top: var(--space);
    }
  }

  @media screen and (min-width: 1100px) {
    .architecture-digital-twin {
      display: grid;
      grid-template-columns: 500px 1fr;
      column-gap: calc(var(--space) * 2);
    }
  }

  @media screen and (min-width: 1500px) {
    .architecture-digital-twin {
      grid-template-columns: 700px 1fr;
    }
    .architecture-digital-twin article {
      column-count: 2;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 560px) {
    .architecture-digital-twin {
      column-count: 2;
      column-gap: var(--space);
    }
  }

  /* IoT classification */

  .architecture-iot-classification {
    grid-template-columns: 1fr 1fr;
  }

  .architecture-iot-classification h2 {
    text-align: left;
  }

  .architecture-iot-classification h3 {
    font-size: 1.75rem;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: left;
    display: inline;
    background-color: var(--color-blue-lighter);
  }

  .architecture-iot-classification h3 ~ p {
    margin-top: calc(var(--space) * 0.5);
  }

  .architecture-iot-classification > div > img {
    padding-top: calc(var(--space) * 4);
    width: 80%;
  }

  .architecture-iot-classification div:nth-child(2) div {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: var(--space);
    padding-bottom: var(--space);
  }

  .architecture-iot-classification div:nth-child(2) > div img {
    width: auto;
  }

  .architecture-iot-classification div:nth-child(2) div div {
    display: block;
    text-align: left;
  }

  @media screen and (max-width: 800px) {

    .architecture-iot-classification > div > img {
      padding-top: calc(var(--space) * 2);
      width: 80%;
    }

    .architecture-iot-classification div:nth-child(2) div {
      grid-template-columns: 1fr;
    }
    .architecture-iot-classification div:nth-child(2) > div img {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      padding-top: var(--space);
      padding-bottom: var(--space);
    }
  }

  @media screen and (min-width: 1100px) {
    .architecture-iot-classification {
      display: grid;
    }
  }

  /* IoT providers */

  .architecture-iot-providers h3 {
    font-size: 1.75rem;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: left;
    display: inline;
    background-color: var(--color-blue-lighter);
  }

  .architecture-iot-providers article {
    margin-top: var(--space);
    column-count: 2;
  }

  .architecture-iot-providers img {
    width: 80%;
    margin-left: 10%;
  }

  .architecture-iot-providers .grid-2 {
    margin-top: var(--space);
  }

  .architecture-iot-providers .grid-2 div {
    text-align: left;
  }

  @media screen and (max-width: 800px) {
    .architecture-iot-providers > .grid-2 article {
      column-count: 1;
    }
  }

  @media screen and (max-width: 1300px) {
    .architecture-iot-providers > .grid-2 {
      grid-template-columns: 1fr;
    }
  }

  /* Data flows */

  .architecture-data-flows h3 {
    font-size: 1.75rem;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: left;
    display: inline;
    background-color: var(--color-blue-lighter);
  }

  .architecture-data-flows div {
    text-align: left;
  }

  .architecture-data-flows .grid-3 {
    margin-top: var(--space);
    grid-template-columns: repeat(3, 1fr);

  }

  .architecture-data-flows .grid-3 img {
    grid-row: 1;
    width: 60%;
    margin: auto;
  }

  .architecture-data-flows .grid-3 div {
    grid-row: 2;
  }


  .architecture-data-flows article .grid-2 div {
    display: flex;
    flex-direction: row;
    gap: var(--space);
  }
  .architecture-data-flows h3 ~ .grid-2 {
    padding-top: var(--space);
  }

  .architecture-data-flows article .grid-2 {
    grid-template-columns: 1fr 3fr;
  }

  @media screen and (max-width: 1100px) {
    .architecture-data-flows article .grid-2 {
      grid-template-columns: 1fr;
    }
    .architecture-data-flows article .grid-2 > img {
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 950px) {
    .architecture-data-flows article .grid-3 {
      grid-template-columns: 1fr;
    }
    .architecture-data-flows article .grid-3 img {
      grid-row: auto;
      width: 60%;
    }
    .architecture-data-flows article .grid-3 div {
      grid-row: auto;
    }
  }

  /* Current problems */

  .architecture-current-problems div {
    text-align: left;
  }

  .architecture-current-problems h2 {
    text-align: left;
  }

  .architecture-current-problems h3 {
    text-align: left;
    width: 100%;
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    background-color: var(--color-orange);
    color: var(--color-light);
  }

  .architecture-current-problems article h3 {
    margin-top: calc(var(--space));
  }

  .architecture-current-problems article {
    column-count: 2;
  }

  @media screen and (max-width: 1100px) {
    .architecture-current-problems article {
      column-count: 1;
    }

  }

  /* Main tasks */

  .architecture-main-tasks {
    margin-top: 0;
    margin-bottom: 0;
    padding: var(--space);
  }

  .architecture-main-tasks article {
    column-count: 2;
    gap: var(--space);
  }

  .architecture-main-tasks p:not:nth-child(1) {
    margin-top: var(--space);
    margin-left: calc(var(--space) * 3);
  }

  .architecture-main-tasks p {
    margin-left: 0;
  }

  .architecture-main-tasks div {
    text-align: left;
  }

  .architecture-main-tasks h2, .architecture-main-tasks h3 {
    text-align: left;
  }

  .architecture-main-tasks h3 {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: calc(var(--space) * 0.15);
    font-weight: 700;
  }

  .architecture-main-tasks div h3:first-child {
    white-space: nowrap;
  }

  .architecture-main-tasks div h3:not:first-child {
    width: 100%;
  }

  .architecture-main-tasks div ~ p {
    margin-top: var(--space);
  }

  .architecture-main-tasks article div {
    display: flex;
    flex-direction: row;
    gap: var(--space);
    background-color: var(--color-light);
  }

  .architecture-main-tasks article ~ div {
    margin-top: var(--space);
    background-image: url('/images/architecture/main-tasks-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: calc(var(--space) * 9);
    padding-bottom: calc(var(--space) * 7.5);
  }
  .architecture-main-tasks article ~ div > div {
    width: 22vw;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .architecture-main-tasks article ~ div img {
    padding: 0 var(--space) calc(var(--space) * 2);
  }

  .architecture-main-tasks article ~ div p {
    color: #fff;
    padding: var(--space);
    background-color:  #221363;
  }

  @media screen and (max-width: 1280px) {
    .architecture-main-tasks article ~ div > div {
      max-width: 25vw;
    }
  }

  @media screen and (max-width: 1100px) {
    .architecture-main-tasks article {
      column-count: 1;
    }
    .architecture-main-tasks article ~ div {
      padding-top: calc(var(--space) * 7);
      padding-bottom: calc(var(--space) * 5.5);
    }
    .architecture-main-tasks article ~ div > div {
      max-width: 35vw;
    }
  }

  @media screen and (max-width: 810px){
    .architecture-main-tasks article ~ div {
      padding-top: calc(var(--space) * 5.5);
      padding-bottom: calc(var(--space) * 5.5);
    }
    .architecture-main-tasks article ~ div > div {
      max-width: 45vw;
    }
  }

  @media screen and (max-width: 670px) {
    .architecture-main-tasks article ~ div > div {
      max-width: 55vw;
    }
  }

  @media screen and (max-width: 580px) {
    .architecture-main-tasks article ~ div {
      padding-top: calc(var(--space) * 6.5);
      padding-bottom: calc(var(--space) * 5.5);
    }
    .architecture-main-tasks article ~ div > div {
      max-width: 65vw;
    }
  }


  /* Basic components */

  .architecture-basic-components h2, .architecture-basic-components h3 {
    text-align: left;
  }

  .architecture-basic-components h3 {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: calc(var(--space) * 0.15);
    font-weight: 700;
  }

  .architecture-basic-components article div {
    display: flex;
    flex-direction: row;
    gap: var(--space);
    background-color: var(--color-light);
  }

  .architecture-basic-components .grid-3 {
    height: 80%;
  }

  .architecture-basic-components .grid-3 img {
    height: 80%;
    width: unset;
    margin: auto;
  }

  .architecture-basic-components .grid-3 div div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-color: var(--color-light);
    border-radius: 50%;
    position: relative;
  }

  .architecture-basic-components .grid-3 div div h2 {
    position: absolute;
    white-space: nowrap;
    left: 15px;
    letter-spacing: -0.3rem;
    margin: 0;
  }

  .architecture-basic-components .grid-3 div div ~ p {
    margin-top: calc(var(--space) * 0.5);
  }

  .architecture-basic-components article p {
    margin-top: var(--space);
  }
  
  @media screen and (max-width: 1100px) {
    .architecture-basic-components .grid-2 {
      grid-template-columns: 1fr;
    }
    .architecture-basic-components .grid-3 {
      grid-template-columns: 1fr 1fr 1fr;
      height: 100%;
    }
  }

  /* Simple representation */

  .architecture-simple-representation h2,
  .architecture-simple-representation h3,
  .architecture-simple-representation li,
  .architecture-simple-representation p {
    text-align: left;
  }

  .architecture-simple-representation li {
    padding-left: var(--space);
  }

  .architecture-simple-representation .grid-2 {
    grid-template-columns: 1.5fr 2fr;
  }

  .architecture-simple-representation img {
    width: 100%;
  }

  @media screen and (max-width: 1100px) {
    .architecture-simple-representation .grid-2 {
      grid-template-columns: 1fr;
    }
  }

</style>