---
// components
import Layout from '../layouts/Layout.astro'
import ContactForm from '../components/blocks/ContactForm.vue';

const contactIntroText = `
  <p>${await $tr('If you are seeking technical collaboration involving smart devices or decentralized network infrastructure, feel free to ask any questions about Robonomics technologies, whether theoretical or practical.')}</p>
  <p class="text-small">${await $tr('Kindly avoid marketing inquiries :D')}</p>
`;
---

<Layout 
  title={$tr("Contacts")}
  ogImage="/opengraph/contacts.webp"
  pageTitle={$tr('Ask a technician')}
  pageIntroText={contactIntroText}
>

<section class="section">
  <div class="layout layout__text">
    <div class="form-container">
      <ContactForm client:only />
    </div>
  </div>
</section>


</Layout>

<style>
  .form-container {
    min-height: 350px;
  }
</style>