---
import Layout from '../layouts/Layout.astro';
import RbButton from '../components/utils/RbButton.astro';
import VideoGallery from '../components/blocks/VideoGallery.astro';

// videos
const videos = [
  '/video/smart-home-1.mp4',
  '/video/smart-home-2.mp4',
  '/video/smart-home-3.mp4',
  '/video/smart-home-4.mp4',
];

const previews = [
  '/video/preview/smart-home-preview-1.webp',
  '/video/preview/smart-home-preview-2.webp',
  '/video/preview/smart-home-preview-3.webp',
  '/video/preview/smart-home-preview-4.webp', 
];

---

<Layout 
  title="For smart homes" 
  description={$tr("Robonomics is a decentralized cloud for storing digital twins of robotics and IoT devices. Robonomics enables economic and technical communication between machines and humans. Its decentralized architecture secures the end user's privacy.")}
  pageTitle={$tr('For smart homes')}
>

  <VideoGallery small videos={videos} previews={previews} alt="For smart homes video example" cls="mb"/>

  <div class="landing-page landing-page--smart-homes">
  <section class="section">
    <div class="layout text-center">
      <p>Building on our open-source hardware philosophy, we develop flexible smart home systems without vendor lock-in. We know how to combine IKEA, Xiaomi, Sonoff, and other smart device brands into one connected and interoperable smart home network.</p>
      <p class="description-bold">
        As part of our smart home solutions, we use the <a href="https://github.com/PinoutLTD/rrs-ha-integration" aria-label="check out the robonomics report service">Robonomics Report Service</a> — a private serverless on-chain infrastructure for receiving encrypted reports and diagnostic logs from smart home systems.
      </p>
      <p>We are based in Cyprus, but for interesting and groundbreaking projects with open-minded ideas, we are always open to collaboration worldwide.</p>
      <img class="img-centered" src="/pages/for-smart-homes/home-assistant-2.webp" alt="we built for you image" loading="lazy" />
      <span class="description-bold">Explore real-world smart home solutions and offers from our engineer’s Cyprus-based agency:</span>
      <RbButton 
        href='https://pinout.cloud/contact-us' 
        buttoncolor="blue"
        buttonstyle="flat"
        radius
        noTarget={false}
      >
        {$tr('Go to pinout.cloud')}
      </RbButton>
    </div>
  </section>
  </div>

</Layout>

<style>
  span {
    display: block;
    margin-bottom: calc(var(--space) * 0.5);
  }
</style>