---
import Layout from '../layouts/Layout.astro';
import RbButton from '../components/utils/RbButton.astro';
import VideoGallery from '../components/blocks/VideoGallery.astro';
import TrustBadges from '../components/blocks/TrustBadges.astro';
import CasesDisplay from '../components/blocks/CasesDisplay.astro';

// videos
const videos = [
  '/video/coworking-1.mp4',
  '/video/smart-home-2.mp4',
  '/video/coworking-2.mp4',
  '/video/coworking-3.mp4',
];

const previews = [
  '/video/preview/coworking-preview-1.webp',
  '/video/preview/smart-home-preview-1.webp',
  '/video/preview/coworking-preview-2.webp',
  '/video/preview/coworking-preview-3.webp',
];

---

<Layout 
  title="For co-working and co-living" 
  description={$tr("Robonomics is a decentralized cloud for storing digital twins of robotics and IoT devices. Robonomics enables economic and technical communication between machines and humans. Its decentralized architecture secures the end user's privacy.")}
  pageTitle={$tr('For co-working & co-living')}
  ogImage="/opengraph/for-coworking.webp"
>

  <VideoGallery small videos={videos} preview={previews} alt="For co-working & co-living video example" cls="mb"/>

  <div class="landing-page">
    <section class="section">
      <div class="layout text-center">
        <p>{$tr('You don’t need to depend on closed smart ecosystems. We know how to build practical systems for coworkings, colivings, and other shared spaces.')}</p>
        <p>
          {$tr('With open-source smart home software such as Home Assistant, we can build flexible multi-brand smart spaces. Using Robonomics Accounts Management, we can implement secure access infrastructure, while the')} <a href="https://github.com/PinoutLTD/rrs-ha-integration" aria-label="check out the robonomics report service">Robonomics Report Service</a> {$tr('enables private encrypted diagnostic reports for better maintenance and support.')}
        </p>
        <p>{$tr('On top of that, your space can benefit from truly open-source hardware available through')} <a href="https://cyberpunks.shop./" arial-label="visit our online store and get yourself a cool device!">cyberpunks.shop</a>.</p>
        <p>{$tr('You get privacy by default: no corporate clouds, no hidden data collection, and no dependency on external platforms. All data remains under your control and can be independently verified.')}</p>
        <RbButton 
          href='/contact/?source=for-coworking-and-coliving' 
          buttoncolor="blue"
          buttonstyle="flat"
          radius
          noTarget={true}
        >
          {$tr('Contact us')}
        </RbButton>
      </div>
    </section>
  </section>

  <TrustBadges variant="cowork" />
  <section class="section section__green section__solid">
    <div class="layout">
     <h4>{$tr('Connected cases and R&Ds')}</h4>

      <CasesDisplay 
        items={[
          { type: 'case', id: 19 },
          { type: 'case', id: 0 },
          { type: 'case', id: 3 }
        ]}
        layout="grid"
      />

    </div>
  </section>
  </div>

</Layout>

<style>
  .section__green {
    margin-top: calc(var(--space) * 0.5);
    margin-bottom: 0;
    padding-top: var(--space);
  }
</style>