---
import Layout from '../layouts/Layout.astro';
import RbButton from '../components/utils/RbButton.astro';
import VideoGallery from '../components/blocks/VideoGallery.astro';
// import CasesDisplay from '../components/blocks/CasesDisplay.astro';

// videos
const videos = [
  '/video/business-1.mp4',
  '/video/business-2.mp4',
  '/video/business-3.mp4',
  '/video/home-4.mp4',
];

const previews = [
  '/video/preview/business-preview-1.webp',
  '/video/preview/business-preview-2.webp',
  '/video/preview/business-preview-3.webp',
  '/video/preview/home-preview-4.webp',
];

---

<Layout 
  title="For business" 
  description={$tr("Robonomics is a decentralized cloud for storing digital twins of robotics and IoT devices. Robonomics enables economic and technical communication between machines and humans. Its decentralized architecture secures the end user's privacy.")}
  pageTitle={$tr('For business')}
  ogImage="/opengraph/for-business.webp"
>

  <VideoGallery small videos={videos} previews={previews} alt="For business video example" cls="mb"/>

    <div class="landing-page">
      <section class="section">
        <div class="layout text-center">
          <p class="description-bold">{$tr('Robonomics combines infrastructure tools and practical expertise to deliver real-world robotics, hardware, and software solutions for businesses. Below are some of the most interesting applications — feel free to share your business needs and ideas with us.')}</p>
          <RbButton 
            href='/contact/?source=business' 
            buttoncolor="blue"
            buttonstyle="flat"
            radius
            noTarget={true}
          >
            {$tr('Contact us')}
          </RbButton>
        </div>
      </section>
    </section>

    <section class="section">
      <div class="layout text-center">
        <h2>{$tr('Smart Real-World Assets (RWA)')}</h2>
        <span>{$tr('For real estate business')}</span>
        <p>{$tr('Robonomics combines infrastructure tools and practical expertise to deliver real-world robotics, hardware, and software solutions for businesses. Below are some of the most interesting applications — feel free to share your business needs and ideas with us.')}</p>
      </div>
    </section>

    <section class="section">
      <div class="layout text-center">
        <h2>{$tr('FEECC digital product passports and quality control')}</h2>
        <span>{$tr('For manufacturing business')}</span>
        <p>{$tr('FEECC is a system for creating digital product passports and manufacturing quality control built on Robonomics. It enables traceability of key production stages, allows pinpoint detection of errors in mass manufacturing, and ensures the integrity of data that cannot be altered or substituted thanks to blockchain-based immutability.')}</p>
      </div>
    </section>

    <section class="section">
      <div class="layout text-center">
        <h2>{$tr('Custom hardware devices')}</h2>
        <span>{$tr('For special business needs')}</span>
        <p>{$tr('We design and engineer privacy-first hardware devices tailored to your specific use case and ready for your own production. From architecture and electronics to firmware and system integration, we help turn your requirements into reliable devices built without hidden data collection, vendor lock-in, or corporate cloud dependencies.')}</p>
      </div>
    </section>

    <section class="section">
      <div class="layout text-center">
        <h2>{$tr('Robotics')}</h2>
        <span>{$tr('For special business needs')}</span>
        <p>{$tr('We design and engineer privacy-first hardware devices tailored to your specific use case and ready for your own production. From architecture and electronics to firmware and system integration, we help turn your requirements into reliable devices built without hidden data collection, vendor lock-in, or corporate cloud dependencies.')}</p>

        <RbButton 
          href='/contact/?source=robotics' 
          buttoncolor="blue"
          buttonstyle="flat"
          radius
          noTarget={true}
        >
          {$tr('Request Robonomics for yor business')}
        </RbButton>
      </div>
    </section>
<!-- 
    <section class="section section__green section__solid">
      <div class="layout">
      <h4>{$tr('Connected cases and R&Ds')}</h4>

        <CasesDisplay 
          items={[
            { type: 'case', id: 7 },
            { type: 'blog', slug: 'home-meets-industrial-mybuddy280' },
            { type: 'case', id: 14 },
          ]}
          layout="grid"
        />

      </div>
    </section> -->
  </div>
</Layout>

<style>
  h2 {
    margin-bottom: calc(var(--space) * 0.5);
  }

  h2 + span {
    display: block;
    font-variation-settings: var(--font-flex-bold);
    margin-bottom: var(--space);
  }

  .section__green {
    margin-bottom: 0;
    padding-top: var(--space);
  }
</style>