---
import Layout from '../layouts/Layout.astro';
import RbButton from '../components/utils/RbButton.astro';
import VideoGallery from '../components/blocks/VideoGallery.astro';

// videos
const videos = [
  '/video/smart-home-1.mp4',
  '/video/smart-home-2.mp4',
  '/video/smart-home-3.mp4',
  '/video/smart-home-4.mp4',
];

const previews = [
  '/video/preview/smart-home-preview-1.webp',
  '/video/preview/smart-home-preview-2.webp',
  '/video/preview/smart-home-preview-3.webp',
  '/video/preview/smart-home-preview-4.webp', 
];

---

<Layout 
  title="For smart homes" 
  description={$tr("Robonomics is a decentralized cloud for storing digital twins of robotics and IoT devices. Robonomics enables economic and technical communication between machines and humans. Its decentralized architecture secures the end user's privacy.")}
  pageTitle={$tr('For smart homes')}
>

  <VideoGallery small videos={videos} previews={previews} alt="For smart homes video example" cls="mb"/>

  <div class="landing-page landing-page--smart-homes">
  <section class="section">
    <div class="layout text-center">
      <h2 class="title-lined">
        <span>{$tr('PRO SMART HOME SUPPORT')}</span>
      </h2>

      <h4 class="highlight-green">{$tr('WE BUILD IT FOR YOU')}</h4>
      <p class="description-bold">{$tr('If you need help implementing a smart home project for an apartment or private house almost anywhere in the world — contact our smart home integration engineers at')} <a href="https://pinout.cloud/" aria-label="go to pinout website" class="underline">Pinout.cloud.</a></p>
      <p>{$tr('We’ll support you at every stage: from working with blueprints to programming, configuration, and on-site installation in most countries worldwide.')}</p>
      <div class="grid grid-2">
          <img src="/pages/for-smart-homes/home-assistant.webp" alt="homeassistant interface" loading="lazy" />
          <img src="/pages/for-smart-homes/home-assistant-2.webp" alt="we built for you image" loading="lazy" />
      </div>
      <div class="layout layout__content">
      <RbButton 
        href='https://pinout.cloud/contact-us' 
        block
        buttoncolor="blue"
        buttonstyle="flat"
        radius
        noTarget={false}
      >
        {$tr('Request a Consultation by pinout')}
      </RbButton>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="layout text-center">
      <h2 class="title-lined">
        <span>{$tr('BUILD SMART HOME YOURSELF')}</span>
      </h2>

      <h4 class="highlight-green">{$tr('FOR ENGINEERS & DIY GEEKS')}</h4>
      <p class="description-bold">{$tr('For those who want to build a smart home DIY-style, we’ve got something awesome for you too — a detailed guide!')}</p>
      <div class="grid grid-2">
        <video
          autoplay
          loop
          muted
          playsinline
          aria-label="homeassistant interface"
        >
          <source src="/pages/for-smart-homes/hass-for-engineers.webm" type="video/webm" />
          <img src="/pages/for-smart-homes/hass-for-engineers.gif" alt="homeassistant interface" />
        </video>

        <img src="/pages/for-smart-homes/diy-geeks.webp" alt="diy geeks image" loading="lazy" />
      </div>
      <div class="layout layout__content">
      <RbButton 
        href='https://wiki.robonomics.network/docs/install-smart-home/' 
        block
        buttoncolor="blue"
        buttonstyle="flat"
        radius
        noTarget={false}
      >
        {$tr('wiki Smart Home Installation')}
      </RbButton>
      </div>
    </div>
  </section>
  </div>

</Layout>