---
// components
import Layout from '../layouts/Layout.astro'

const themesIntroText = `
  <p>${await $tr('Customize your Home Assistant with our free to use themes. Follow the instructions for installation on')} <a href="https://github.com/airalab/home-assistant-themes" target="_blank" aria-label="check robonomics theme for home assistant"><u>${await $tr('Github')}</u></a></p>
`;
---

<Layout
  title = {$tr("Home assistant themes")}
  description = {$tr("Customize your Home Assistant with our free to use themes. Follow the instructions for installation on Github.")}
  ogImage = "/opengraph/themes.webp"
  pageTitle={$tr("Home assistant themes")}
  pageIntroText={themesIntroText}
>

<section class="section">
  <div class="layout layout__content grid">
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/robonomics.yaml" target="_blank" aria-label="check robonomics theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/robonomics-theme.webp"/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/black-and-white.yaml" target="_blank" aria-label="check black and white theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/black-and-white-theme.webp"/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/neon-theme.yaml" target="_blank" aria-label="check neon theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/neon-theme.webp"/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/dark-theme.yaml" target="_blank" aria-label="check dark theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/dark-theme.webp"/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/neon-green-theme.yaml" target="_blank" aria-label="check neon green theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/neon-green-theme.webp"/></a>
    <a href="https://github.com/airalab/home-assistant-themes/blob/main/themes/ai-theme.yaml" target="_blank" aria-label="check ai theme for home assistant"><img aria-hidden="true" alt="" src="/pages/themes/ai-theme.webp"/></a>
  </div>
</section>
</Layout>