---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={$tr("Robonomics Tokenomics ($XRT, $RWS, $AIRA)")}
  description={$tr("Learn everything about $XRT — the main Robonomics token. Explore its utility, supply, and statistics. Plus, get brief insights on $RWS and $AIRA.")}
  ogImage="/opengraph/token.webp"
  pageTitle={$tr("Robonomics tokenomics")}
>
  <section class="layout layout__content text-center text-bold">
    <p>We are launching a new production phase together with updated production tokenomics. This page will evolve as well, but for now we recommend reading our blog post with all the important information, project history, and the broader context behind our journey.</p>
    <a href="#">Robonomics production stage & production tokenomics launch</a>
  </section>
</Layout>
