---
import Layout from "../layouts/Layout.astro";
import SvgIcon from "../components/SvgIcon.astro";

const tokenomicsIntroText = `
  ${await $tr('We are launching a new production phase together with updated production tokenomics. This page will evolve as well, but for now we recommend reading our blog post with all the important information, project history, and the broader context behind our journey.')}
`;
---

<Layout
  title={$tr("Robonomics Tokenomics ($XRT, $RWS, $AIRA)")}
  description={$tr("Learn everything about $XRT — the main Robonomics token. Explore its utility, supply, and statistics. Plus, get brief insights on $RWS and $AIRA.")}
  ogImage="/opengraph/tokenomics.png"
  pageTitle={$tr("Robonomics tokenomics")}
  pageIntroText={tokenomicsIntroText}
>

  <section class="section layout layout__text text-bold text-center">
    <a href="/blog/production-stage-tokenomics-launch/">
      {$tr('Robonomics production stage & production tokenomics launch')} <br/>
      <SvgIcon name="arrow-long" width="10rem" />
    </a>
  </section>

</Layout>
