---
// components
import Layout from '../layouts/Layout.astro';
import WallpapersItem from '../components/wallpapers/WallpapersItem.astro';

// data
const wallpapers = [
  {
    id: 0,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-robot-and-cat.zip',
    img: 'robot_and_cat_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-robot-and-cat-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-robot-and-cat-artboard.jpg'
  },
  {
    id: 1,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-robot-and-cosmonaut.zip',
    img: 'robot_and_cosmonaut_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-robot-and-cosmonaut-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-robot-and-cosmonaut-artboard.jpg'
  },
  {
    id: 2,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-robot-and-electrics-sheep.zip',
    img: 'robot_and_electrics_sheep_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-robot-and-electrics-sheep-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-robot-and-electrics-sheep-artboard.jpg'
  },
  {
    id: 3,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-coloured-astronaut.zip',
    img: 'coloured_astronaut_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-coloured-astronaut-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-coloured-astronaut-artboard.jpg'
  },
  {
    id: 4,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-robot-and-apple.zip',
    img: 'robot_and_apple_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-robot-and-apple-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-robot-and-apple-artboard.jpg'
  },
  {
    id: 5,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-space-travelers.zip',
    img: 'space_travelers_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-space-travelers-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-space-travelers-artboard.jpg'
  },
  {
    id: 6,
    link: '/wallpapers/full-package/robonomics.network-robonomics-wallpapers-bw-astronaut.zip',
    img: 'bw_astronaut_artboard_1.webp',
    desktopLink: '/wallpapers/regular/robonomics.network-bw-astronaut-artboard.jpg',
    phoneLink: '/wallpapers/phone/robonomics.network-bw-astronaut-artboard.jpg'
  },
]
---


<Layout 
	title={$tr("Robonomics Wallpapers")}
	description={$tr("We created beautiful Robonomics themed wallpapers for different devices that you can use!")}
  pageTitle={$tr("our robo art wallpapers")}
	ogImage="/website_cover_wallpapers.webp"
>

  <section class="wallpaper-display">
    <div class="layout layout__content">
      <div class="highlight-solid-green__wrapper">
        <h2 class="m-t-0 highlight-solid-green">{ $tr('Altruist') }</h2>
      </div>
      <div class="wallpaper-display__container grid-2">
        <img src="/images/wallpapers/altruist.webp" aria-label="check out the altruist outdoor sensor wallpapers"/>
        <div class="wallpaper-display__content">
          <p>{ $tr('Our special wallpapers to commemorate the launch of the Outdoor sensor “Altruist“') }</p>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/desktop.svg" aria-hidden="true" />
            <a aria-label="download special altruist wallpaper for desktop" href="/wallpapers/altruist/robonomics.network-altruist-desktop.jpg" download="">{$tr('Desktop')}</a>
          </div>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/smartphone.svg" aria-hidden="true" />
            <div class="wallpapers__links-wrapper">
              <a download aria-label="download special altruist wallpaper for iphone" href="/wallpapers/altruist/robonomics.network-altruist-iphone.jpg">{$tr('Iphone')}</a>
              <a download aria-label="download special altruist wallpaper for Samsung Galaxy" href="/wallpapers/altruist/robonomics.network-altruist-samsung.zip">{ $tr('Samsung') }</a>
              <a download aria-label="download special altruist wallpaper for Pixel" href="/wallpapers/altruist/robonomics.network-altruist-pixel.zip">{ $tr('Pixel') }</a>
              <a download aria-label="download special altruist wallpaper for smartphone" href="/wallpapers/altruist/robonomics.network-altruist-iphone.jpg">{ $tr('Smartphone') }</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wallpaper-display">
    <div class="layout layout__content">
      <div class="highlight-solid-green__wrapper">
        <h2 class="m-t-0 highlight-solid-green">{$tr('Aira is back')}</h2>
      </div>
      <div class="wallpaper-display__container grid-2">
        <img src="/images/wallpapers/aira.webp" alt="aira is back wallpapers" aria-label="get our brand new aira wallpaper"/>
        <div class="wallpaper-display__content">
          <p>{$tr('Transform your screen with our brand new wallpaper—download now!')}</p>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/desktop.svg" aria-hidden="true" />
            <a aria-label="download special aira wallpaper for desktop" href="/wallpapers/aira/robonomics.network-aira-desktop.zip" download="">{$tr('Desktop')}</a>
          </div>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/smartphone.svg" aria-hidden="true" />
            <div class="wallpapers__links-wrapper">
              <a download aria-label="download special aira wallpaper for iphone" href="/wallpapers/aira/robonomics.network-aira-iphone.zip">{$tr('Iphone')}</a>
              <a download aria-label="download special aira wallpaper for Samsung Galaxy" href="/wallpapers/aira/robonomics.network-aira-samsung.zip">{$tr('Samsung')}</a>
              <a download aria-label="download special aira wallpaper for Pixel" href="/wallpapers/aira/robonomics.network-aira-pixel.zip">{$tr('Pixel')}</a>
              <a download aria-label="download special aira wallpaper for smartphone" href="/wallpapers/aira/robonomics.network-aira-smartphone.zip">{$tr('Smartphone')}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="wallpaper-display">
    <div class="layout layout__content">
      <div class="highlight-solid-green__wrapper">
        <h2 class="m-t-0 highlight-solid-green">{$tr('Space monkey devcon 2024 special')}</h2>
      </div>
      <div class="wallpaper-display__container grid-2">
        <img src="/images/wallpapers/space-monkey.webp" alt="space monkey wallpaper">
        <div class="wallpaper-display__content">
          <p>{$tr('Download this picture to your device and join our special Devcon 2024 quest at thrilling locations around Bangkok!')}</p>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/desktop.svg" alt="" aria-hidden="true" />
            <a aria-label="download special space monkey wallpaper for desktop" href="/wallpapers/space-monkey/robonomics.network-space-monkey-desktop.jpg" download="">{$tr('Desktop')}</a>
          </div>
          <div class="wallpapers__links"> 
            <img src="/images/wallpapers/smartphone.svg" alt="" aria-hidden="true" />
            <div class="wallpapers__links-wrapper">
              <a download aria-label="download special space monkey wallpaper for iphone" href="/wallpapers/space-monkey/robonomics.network-space-monkey-iphone.jpg">{$tr('Iphone')}</a>
              <a download aria-label="download special space monkey wallpaper for Samsung Galaxy" href="/wallpapers/space-monkey/robonomics.network-space-monkey-samsung.jpg">{$tr('Samsung')}</a>
              <a download aria-label="download special space monkey wallpaper for Pixel" href="/wallpapers/space-monkey/robonomics.network-space-monkey-pixel.jpg">{$tr('Pixel')}</a>
              <a download aria-label="download special space monkey wallpaper for smartphone" href="/wallpapers/space-monkey/robonomics.network-space-monkey-smartphone.jpg">{$tr('Smartphone')}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section wallpapers">
    <div class="layout layout__mid">
        <div class="highlight-solid-green__wrapper">
          <h2 class="highlight-solid-green">{$tr('Free Wallpapers for you from our artists')}</h2>
        </div>
        <div class="wallpapers__wrapper grid-3">
          {wallpapers.length && wallpapers.map(item => (
            <WallpapersItem 
              link={item.link}
              img={item.img}
              desktopLink={item.desktopLink}
              phoneLink={item.phoneLink}
            />
          ))}
        </div>
    </div>
  </section>

  <section class="hidden-wallpapers">
    <div class="layout layout__content">
      <div class="highlight-solid-green__wrapper">
        <h2 class="highlight-solid-green">{$tr('Hide your folder with secret wallpaper')}</h2>
      </div>
      <img src="/images/wallpapers/bw_astronaut_artboard_1.webp" alt="black and white astronaut wallpaper"/>
      <p>{$tr("We've created secret wallpapers just for you! Download the background and folder icons, and your folders will blend seamlessly into your Home Screen—leaving only beautiful artwork visible.")}</p>
      <div class="wallpapers__links">
        <a aria-label="download hidden wallpaper for desktop" class="wallpapers-link-desktop" href="/wallpapers/hidden/robonomics.network-robonomics-secret-wallpapers.jpg" download>{$tr('Desktop background')}</a>
        <a aria-label="download hidden wallpaper icons for Mac OS" class="hidden-wallpaper-mac" href="/wallpapers/hidden/robonomics.network-robonomics-secret-wallpapers-icons-os.zip" download>{$tr('Mac OS icons')}</a>
        <a aria-label="download hidden wallpaper icons for Windows" class="hidden-wallpaper-windows" href="/wallpapers/hidden/robonomics.network-robonomics-secret-wallpapers-icons-windows.zip" download>{$tr('Windows icons')}</a>
      </div>
    </div>
  </section>
</Layout>


<style is:global>

  .wallpapers__links {
      display: flex;
      align-items: center;
      gap: calc(var(--space) * 0.5);
      margin-bottom: var(--space);
    }
  
    .wallpapers__links a {
      line-height: 1;
      font-size: calc(var(--base-font-size) * 0.9);
      font-variation-settings: var(--font-flex-bold);
      color: var(--color-dark);
      text-decoration: underline;
      background-position: left;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  
    .wallpapers__links a:hover {
      color: var(--color-link);
    }
  
    .wallpapers-link-desktop {
      padding-left: 42px;
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='23' viewBox='0 0 31 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.9465 0H1.05346C0.47166 0 0 0.47166 0 1.05345V16.7576C0 17.3394 0.47166 17.811 1.05346 17.811H29.9465C30.5283 17.811 31 17.3394 31 16.7576V1.05345C31 0.47166 30.5283 0 29.9465 0Z' fill='black'/%3E%3Cpath d='M21.5198 21.0512H17.9434V19.6386H13.0567V21.0512H9.48024C8.97558 21.0512 8.56641 21.4603 8.56641 21.9651C8.56641 22.4697 8.97552 22.8789 9.48024 22.8789H21.5198C22.0245 22.8789 22.4336 22.4698 22.4336 21.9651C22.4336 21.4604 22.0245 21.0512 21.5198 21.0512Z' fill='black'/%3E%3C/svg%3E%0A");
      background-size: 30px 22px;
    }
  
  </style>
  
  <style>
    h2.highlight-solid-green {
      display: inline;
      font-size: calc(var(--base-font-size)* 1.25);
      font-variation-settings: var(--font-flex-extrabold);
      padding: 0.4rem 0.8rem;
      text-align: left;
    }
  
    .highlight-solid-green__wrapper {
      margin-bottom: var(--space-text);
    }
  
    .wallpapers__links-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: calc(var(--space) * 0.5);
    }
  
    .wallpapers__links img {
      min-width: 31px;
    }
  
    .wallpaper-display{
      margin-bottom: calc(var(--space) * 4);
    }
  
    .hidden-wallpapers {
      margin-bottom: calc(var(--space) * 4);
    }
  
    .hidden-wallpapers img {
      margin-bottom: var(--space);
    }
  
  
    .hidden-wallpapers a {
      min-height: 32px;
      padding-top: 6px;
    }
  
    .hidden-wallpapers .wallpapers__links {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--space) * 1.5);
    }
  
    .hidden-wallpaper-mac {
      padding-left: 42px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6645 0C17.733 0 17.8015 0 17.8739 0C18.042 2.07605 17.2496 3.62728 16.2865 4.75062C15.3416 5.86621 14.0476 6.94818 11.9547 6.78401C11.8151 4.73769 12.6088 3.30152 13.5706 2.18076C14.4625 1.13627 16.0978 0.20683 17.6645 0Z' fill='black'/%3E%3Cpath d='M24 21.6086C24 21.6293 24 21.6474 24 21.6668C23.4118 23.4481 22.5729 24.9748 21.5491 26.3916C20.6145 27.6778 19.4691 29.4087 17.4241 29.4087C15.657 29.4087 14.4832 28.2724 12.6722 28.2414C10.7564 28.2104 9.7029 29.1915 7.95131 29.4384C7.75094 29.4384 7.55058 29.4384 7.35409 29.4384C6.06787 29.2523 5.02984 28.2336 4.27362 27.3158C2.04374 24.6038 0.320586 21.1006 0 16.6176C0 16.1781 0 15.7398 0 15.3003C0.135732 12.0919 1.69471 9.48324 3.76689 8.21899C4.8605 7.5468 6.36389 6.97414 8.03792 7.23009C8.75536 7.34126 9.48831 7.58687 10.1308 7.82989C10.7396 8.06387 11.501 8.47882 12.2223 8.45685C12.711 8.44263 13.197 8.18797 13.6895 8.00828C15.1322 7.48733 16.5464 6.89011 18.4104 7.17062C20.6507 7.50931 22.2407 8.50468 23.2231 10.0404C21.328 11.2465 19.8298 13.064 20.0857 16.1677C20.3133 18.9871 21.9524 20.6365 24 21.6086Z' fill='black'/%3E%3C/svg%3E%0A");
      background-size: 25px 30px;
    }
  
    .hidden-wallpaper-windows {
      padding-top: 9px;
      padding-left: 42px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.87475 3.28266L0 5.05333V13.2454L8.87469 13.096L8.87475 3.28266ZM25.3188 15.18L10.9054 14.9333V25.1213L25.3188 28V15.18ZM8.87475 14.9027L6.18961e-05 14.752V22.9427L8.87475 24.7147V14.9027ZM25.3188 0L10.9054 2.876V13.064L25.3188 12.8187V0Z' fill='%23010002'/%3E%3C/svg%3E%0A");
      background-size: 25px 28px;
    }
  
    @media screen and (max-width: 450px) {
  
      h2.highlight-solid-green {
        padding: 0rem 0.2rem;
      }
  
      .wallpapers__links {
        gap: var(--space);
      }
  
      .wallpapers__links img {
        min-width: unset;
        width: 20px;
      }
      
    }
  </style>