---
// components import
import HeaderNav from './HeaderNav.astro';
import LanguageSwitcher from './LanguageSwitcher.astro';

const {translated = false} = Astro.props;
---

<header class="header">

  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <svg width="162" height="31" viewBox="0 0 162 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo-robot hide-mobile">
          <g clip-path="url(#clip0_951_181)">
            <g class="hideMobile">
              <path d="M51.7172 21.7096H49.2262V26.6679H46.9912V13.7778H51.5131C52.9963 13.7778 54.1417 14.1116 54.9483 14.7793C55.7549 15.4469 56.1582 16.4127 56.1582 17.6767C56.1582 18.5392 55.9503 19.2609 55.5355 19.8427C55.1206 20.4245 54.5422 20.8722 53.8001 21.1848L56.6876 26.5521V26.6669H54.2948L51.7152 21.7087L51.7172 21.7096ZM49.2262 19.9035H51.5227C52.2764 19.9035 52.8654 19.7134 53.289 19.3323C53.7125 18.9512 53.9252 18.4311 53.9252 17.7693C53.9252 17.1074 53.7288 16.5449 53.338 16.1667C52.9463 15.7894 52.3621 15.5945 51.5843 15.582H49.2262V19.9025V19.9035Z" fill="black"/>
              <path d="M68.5415 20.5586C68.5415 21.8216 68.324 22.9302 67.888 23.8834C67.452 24.8367 66.8292 25.569 66.0198 26.0794C65.2093 26.5898 64.2776 26.8455 63.2236 26.8455C62.1697 26.8455 61.2524 26.5907 60.4372 26.0794C59.6219 25.569 58.9915 24.8415 58.5468 23.8969C58.1021 22.9524 57.8769 21.864 57.8711 20.63V19.9045C57.8711 18.6473 58.0934 17.5377 58.5381 16.5758C58.9828 15.6139 59.6094 14.8777 60.4198 14.3673C61.2293 13.8569 62.1581 13.6012 63.2063 13.6012C64.2545 13.6012 65.1833 13.853 65.9928 14.3586C66.8023 14.8632 67.4279 15.5888 67.8697 16.5362C68.3115 17.4837 68.5348 18.5855 68.5415 19.8427V20.5596V20.5586ZM66.3066 19.8861C66.3066 18.4572 66.0371 17.3631 65.499 16.6009C64.96 15.8396 64.1967 15.4585 63.2073 15.4585C62.2178 15.4585 61.4863 15.8377 60.9415 16.5961C60.3967 17.3544 60.1186 18.4273 60.107 19.8147V20.5586C60.107 21.975 60.3823 23.0701 60.9329 23.8439C61.4834 24.6167 62.2477 25.0036 63.2246 25.0036C64.2016 25.0036 64.9745 24.6263 65.5077 23.8709C66.0409 23.1154 66.3066 22.0117 66.3066 20.5596V19.8871V19.8861Z" fill="black"/>
              <path d="M70.7681 26.667V13.7768H75.1754C76.6298 13.7768 77.7367 14.0692 78.4961 14.6529C79.2555 15.2376 79.6357 16.1079 79.6357 17.2647C79.6357 17.8552 79.4769 18.3858 79.1583 18.8586C78.8407 19.3304 78.3748 19.697 77.7627 19.9566C78.4576 20.1457 78.9947 20.5007 79.3749 21.0227C79.7551 21.5456 79.9447 22.1728 79.9447 22.9041C79.9447 24.114 79.5578 25.0432 78.7839 25.6925C78.0091 26.3418 76.9012 26.666 75.4584 26.666H70.769L70.7681 26.667ZM73.003 19.204H75.1937C75.8886 19.204 76.4315 19.0458 76.8233 18.7303C77.215 18.4148 77.4104 17.9671 77.4104 17.3892C77.4104 16.7514 77.2294 16.2912 76.8675 16.0075C76.5056 15.7239 75.9416 15.583 75.1764 15.583H73.004V19.204H73.003ZM73.003 20.851V24.8791H75.4854C76.1861 24.8791 76.7337 24.7055 77.1284 24.3562C77.523 24.0079 77.7203 23.5245 77.7203 22.9041C77.7203 21.564 77.0369 20.8799 75.6711 20.85H73.004L73.003 20.851Z" fill="black"/>
              <path d="M92.441 20.5586C92.441 21.8216 92.2234 22.9302 91.7874 23.8834C91.3514 24.8367 90.7287 25.569 89.9192 26.0794C89.1097 26.5898 88.178 26.8455 87.124 26.8455C86.0701 26.8455 85.1528 26.5907 84.3375 26.0794C83.5223 25.569 82.8919 24.8415 82.4472 23.8969C82.0025 22.9524 81.7773 21.864 81.7715 20.63V19.9045C81.7715 18.6473 81.9938 17.5377 82.4385 16.5758C82.8832 15.6139 83.5098 14.8777 84.3202 14.3673C85.1297 13.8569 86.0585 13.6012 87.1067 13.6012C88.1549 13.6012 89.0837 13.853 89.8932 14.3586C90.7027 14.8632 91.3283 15.5888 91.7701 16.5362C92.2119 17.4837 92.4352 18.5855 92.441 19.8427V20.5596V20.5586ZM90.207 19.8861C90.207 18.4572 89.9375 17.3631 89.3985 16.6009C88.8595 15.8396 88.0962 15.4585 87.1067 15.4585C86.1172 15.4585 85.3857 15.8377 84.8409 16.5961C84.2962 17.3544 84.018 18.4273 84.0064 19.8147V20.5586C84.0064 21.975 84.2817 23.0701 84.8323 23.8439C85.3828 24.6167 86.1471 25.0036 87.124 25.0036C88.101 25.0036 88.8739 24.6263 89.4071 23.8709C89.9404 23.1154 90.207 22.0117 90.207 20.5596V19.8871V19.8861Z" fill="black"/>
              <path d="M104.868 26.667H102.633L96.9015 17.5213V26.667H94.6665V13.7768H96.9015L102.652 22.9572V13.7768H104.868V26.667Z" fill="black"/>
              <path d="M117.773 20.5586C117.773 21.8216 117.555 22.9302 117.119 23.8834C116.683 24.8367 116.06 25.569 115.251 26.0794C114.44 26.5898 113.509 26.8455 112.455 26.8455C111.401 26.8455 110.483 26.5907 109.668 26.0794C108.853 25.569 108.222 24.8415 107.779 23.8969C107.334 22.9524 107.109 21.864 107.103 20.63V19.9045C107.103 18.6473 107.325 17.5377 107.77 16.5758C108.215 15.6139 108.841 14.8777 109.652 14.3673C110.461 13.8569 111.39 13.6012 112.438 13.6012C113.486 13.6012 114.415 13.853 115.225 14.3586C116.034 14.8632 116.66 15.5888 117.102 16.5362C117.543 17.4837 117.767 18.5855 117.773 19.8427V20.5596L117.773 20.5586ZM115.538 19.8861C115.538 18.4572 115.268 17.3631 114.73 16.6009C114.191 15.8396 113.428 15.4585 112.438 15.4585C111.449 15.4585 110.717 15.8377 110.172 16.5961C109.628 17.3544 109.35 18.4273 109.338 19.8147V20.5586C109.338 21.975 109.613 23.0701 110.164 23.8439C110.714 24.6167 111.479 25.0036 112.456 25.0036C113.433 25.0036 114.205 24.6263 114.739 23.8709C115.272 23.1154 115.538 22.0117 115.538 20.5596V19.8871V19.8861Z" fill="black"/>
              <path d="M122.895 13.7768L126.605 23.6567L130.306 13.7768H133.194V26.667H130.969V22.4178L131.189 16.734L127.391 26.6679H125.792L122.004 16.7437L122.224 22.4188V26.6679H119.999V13.7778H122.896L122.895 13.7768Z" fill="black"/>
              <path d="M138.191 26.667H135.966V13.7768H138.191V26.667Z" fill="black"/>
              <path d="M150.751 22.4709C150.622 23.8467 150.115 24.9187 149.232 25.6896C148.349 26.4595 147.175 26.8445 145.709 26.8445C144.685 26.8445 143.782 26.6013 143.001 26.1141C142.22 25.6269 141.619 24.9351 141.195 24.0378C140.772 23.1405 140.551 22.0994 140.533 20.9127V19.7086C140.533 18.4929 140.748 17.4219 141.178 16.4947C141.607 15.5685 142.224 14.8536 143.028 14.3518C143.832 13.8501 144.761 13.5993 145.815 13.5993C147.233 13.5993 148.376 13.9842 149.241 14.7542C150.107 15.5241 150.61 16.6144 150.751 18.0259H148.526C148.42 17.0997 148.151 16.4311 147.718 16.021C147.286 15.6109 146.651 15.4054 145.815 15.4054C144.843 15.4054 144.097 15.7615 143.577 16.4735C143.056 17.1855 142.789 18.2295 142.778 19.6063V20.7496C142.778 22.1438 143.026 23.2071 143.524 23.9403C144.021 24.6726 144.75 25.0393 145.71 25.0393C146.587 25.0393 147.247 24.8415 147.688 24.4459C148.129 24.0503 148.409 23.3923 148.527 22.4719H150.752L150.751 22.4709Z" fill="black"/>
              <path d="M159.468 23.347C159.468 22.7806 159.269 22.3435 158.872 22.0367C158.474 21.7299 157.757 21.4202 156.722 21.1066C155.685 20.794 154.861 20.4457 154.248 20.0617C153.076 19.3236 152.49 18.3617 152.49 17.1759C152.49 16.1368 152.913 15.281 153.758 14.6085C154.603 13.936 155.699 13.5993 157.048 13.5993C157.943 13.5993 158.741 13.7643 159.442 14.0952C160.142 14.4261 160.693 14.897 161.093 15.5077C161.494 16.1184 161.694 16.7958 161.694 17.5396H159.469C159.469 16.8672 159.258 16.3404 158.837 15.9592C158.417 15.5781 157.814 15.3881 157.031 15.3881C156.302 15.3881 155.735 15.5444 155.332 15.857C154.928 16.1696 154.726 16.6066 154.726 17.1672C154.726 17.639 154.944 18.0336 155.38 18.3491C155.816 18.6646 156.534 18.9724 157.535 19.2696C158.536 19.5677 159.34 19.9073 159.946 20.2875C160.552 20.6686 160.997 21.1057 161.28 21.5977C161.562 22.0907 161.704 22.6677 161.704 23.3286C161.704 24.4034 161.293 25.2573 160.471 25.8922C159.65 26.527 158.536 26.8435 157.129 26.8435C156.199 26.8435 155.343 26.6708 154.564 26.3254C153.783 25.98 153.177 25.5034 152.744 24.8955C152.311 24.2877 152.095 23.5795 152.095 22.771H154.33C154.33 23.5033 154.571 24.0696 155.054 24.471C155.537 24.8724 156.229 25.073 157.13 25.073C157.907 25.073 158.492 24.9148 158.883 24.5993C159.275 24.2838 159.47 23.866 159.47 23.346L159.468 23.347Z" fill="black"/>
          </g>
          <path class="logo-robot__eye" d="M19.5505 20.5403C21.4977 20.5403 23.0829 18.9521 23.0829 16.9993C23.0829 15.0465 21.4986 13.4584 19.5505 13.4584C17.6024 13.4584 16.0181 15.0465 16.0181 16.9993C16.0181 18.9521 17.6024 20.5403 19.5505 20.5403Z" fill="black"/>
          <path d="M36.9846 17.6785C36.8528 17.6785 36.7248 17.692 36.5996 17.7151C36.129 16.54 35.2723 15.7546 34.2935 15.7546C34.2444 15.7546 34.1962 15.7565 34.1491 15.7604V11.8345C34.1491 10.0563 32.6976 8.6004 30.9227 8.6004H22.8694V8.50488C22.8694 7.9308 22.4054 7.46575 21.8327 7.46575H19.9491V4.17568C20.8673 3.94412 21.5488 3.1134 21.5488 2.12059C21.5488 0.94929 20.6017 -0.00106812 19.4322 -0.00106812C18.2628 -0.00106812 17.3156 0.948325 17.3156 2.12059C17.3156 3.1134 17.9971 3.94412 18.9153 4.17568V7.46575H17.0317C16.459 7.46575 15.9951 7.9308 15.9951 8.50488V8.6004H7.94169C6.16777 8.6004 4.71534 10.0554 4.71534 11.8345V15.7575C3.774 15.8038 2.95586 16.5766 2.49963 17.7151C2.3745 17.692 2.24648 17.6785 2.11462 17.6785C0.946125 17.6785 -0.00195312 18.6279 -0.00195312 19.8001C-0.00195312 20.9724 0.945163 21.9218 2.11462 21.9218C2.24648 21.9218 2.3745 21.9083 2.49963 21.8851C2.95586 23.0236 3.77496 23.7955 4.71534 23.8428V27.7668C4.71534 29.5449 6.16681 31.0009 7.94169 31.0009H30.9227C32.6966 31.0009 34.1491 29.5459 34.1491 27.7668V23.8409C34.1972 23.8447 34.2453 23.8466 34.2935 23.8466C35.2723 23.8466 36.129 23.0603 36.5996 21.8861C36.7248 21.9093 36.8528 21.9228 36.9846 21.9228C38.1531 21.9228 39.1012 20.9734 39.1012 19.8011C39.1012 18.6288 38.1541 17.6794 36.9846 17.6794V17.6785ZM19.5506 11.0559C22.8193 11.0559 25.4797 13.7217 25.4797 16.9992C25.4797 20.2768 22.8203 22.9426 19.5506 22.9426C16.2809 22.9426 13.6215 20.2768 13.6215 16.9992C13.6215 13.7217 16.2809 11.0559 19.5506 11.0559ZM28.939 24.1351C28.7965 24.303 25.3767 28.2521 19.182 28.2521C12.9872 28.2521 10.1834 24.1843 10.0708 24.0116C9.70983 23.4559 9.86769 22.711 10.4221 22.3502C10.9746 21.9903 11.7138 22.1456 12.0757 22.6966C12.1719 22.8403 14.2548 25.8496 19.182 25.8496C24.1091 25.8496 27.0005 22.7091 27.116 22.575C27.5481 22.0752 28.3028 22.0173 28.8042 22.4467C29.3047 22.877 29.3663 23.6305 28.939 24.1342V24.1351Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_951_181">
          <rect width="161.703" height="31" fill="white"/>
          </clipPath>
          </defs>
        </svg>
      </a>
    </div>

    <div class="header-side">
      <LanguageSwitcher translated={translated}/>
      <HeaderNav/>
    </div>

  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // logos and assets redirect on logo right click
    const headerLogo = document.querySelector('.header-logo');
    if (headerLogo) {
      headerLogo.addEventListener('contextmenu', (event) => {
        event.preventDefault(); 
        window.location.href = '/logos-and-assets/'; 
      });
    }
  });
</script>

<style>

  .hideDesktop {
    display: block;
  }

  .hideMobile {
    display: none;
  }

  .header-logo {
    padding-left: calc(var(--screen-padding-left) * 0.6);
  }

  .header-logo a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
  }


  .logo-robot__eye {
    animation-name: blinkEye;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }

  .header {
    --logo-padding: 0.6rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1005;
    border-bottom: 2px solid var(--color-dark);
    background-color: var(--header-bg);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--screen-padding-top);
    padding: 1.6rem;
    padding-left: var(--logo-padding);
    padding-right: var(--screen-padding-right);
  }

  html[dir="rtl"] .header-content {
    padding-right: var(--logo-padding);
    padding-left: var(--screen-padding-right);
  }

  .header-side {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: calc(var(--space) / 3);
  } 


  html[dir="rtl"] .header-logo a {
    display: block;
    position: relative;
    right: -100px;
  }

  html[dir="rtl"] .header-content {
    padding-right: var(--logo-padding);
    padding-left: var(--screen-padding-right);
  }


  @media screen and (max-width: 425px) {

    .header-side {
      align-items: center;
    }

    .header-logo {
      margin-right: calc(var(--space) * 1.2);
    }

    .header-logo a {
      display: inline-block;
      width: 60px;
    }


      html[dir="rtl"] .header-logo  {
        margin-right: 0;
      }
  }

  /* eye animation */
  @keyframes blinkEye {
    0% {
      transform: none;
      animation-timing-function: ease-in;
    }
    2% {
      transform: translateY(14px) scaleY(0.2);
    }
    4% {
      animation-timing-function: ease-out;
    }
    6% {
      transform: none;
      animation-timing-function: ease-in;
    }
  }
  
</style>