---
import Navigation from './blocks/Navigation.astro';
import FooterQuickLinks from './footer/FooterQuickLinks.astro';
import FooterSocialBar from './footer/FooterSocialBar.astro';
import LanguageSwitcher from './header/LanguageSwitcher.astro';

import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);

const generatePath = (path) => {
  return locale === 'en' ? path : `/${locale}${path}`
}

---

<footer>
  <FooterQuickLinks/>
  <FooterSocialBar/>
  <Navigation/>

  <section class="footer-privacy" aria-label="Privacy and language settings">
    <div class="footer-privacy-inner">
      <a aria-label="see privacy policy page" href={generatePath('/privacy-policy/')}>{$tr('Privacy Policy')}</a>
      <LanguageSwitcher />
    </div>
  </section>
  
</footer>


<style>
  footer {
    margin-top: 0;
  }

  footer a {
    color: var(--text-color);
  }


  html[dir="rtl"] footer nav ul li{
    padding-right: var(--space);
    padding-left: 0;
  }


  /* + Privacy & language */
  .footer-privacy {
    padding: calc(var(--space) * 0.5) var(--layout-sidepadding);
  }

  .footer-privacy-inner {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    gap: calc(var(--space) * 0.5);
  }

  .footer-privacy a {
    font-size: calc(var(--base-font-size) * 0.75);
    font-variation-settings: var(--font-flex-bold);
    color: var(--color-dark);
    text-transform: uppercase;
    text-decoration: underline;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
  }

  .footer-privacy a:hover {
    color: var(--color-blue)
  }

  html[dir="rtl"] .footer-privacy-inner {
    flex-direction: row-reverse;
  }
  /* - Privacy & language */


</style>