<div class="oldy post-expired-info">
  {$tr('This study information has been expired. For up-to-date lessons and workshops visit our')} <a href="https://robonomics.academy/" target="_blank" aria-label="check out robonomics academy">{$tr('academy')}</a>
</div>

<style>
  .post-expired-info {
    margin-bottom: calc(var(--space) * 2);
    font-weight: 600;
    box-shadow: 2px 3px 0 var(--color-blue);
    text-transform: uppercase;
  }
</style>