body {
  --base-font-size: 1.2rem;
  --font-family: "Roboto Flex", "Roboto", system-ui, sans-serif;
  --font-flex-bold:
    "wght" 800, "wdth" 100, "opsz" 26, "XTRA" 468, "XOPQ" 96, "YOPQ" 79,
    "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  --font-flex-extrabold:
    "wght" 900, "wdth" 110, "opsz" 26, "XTRA" 468, "XOPQ" 96, "YOPQ" 79,
    "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  --font-flex-medium:
    "wght" 600, "wdth" 100, "opsz" 26, "XTRA" 468, "XOPQ" 96, "YOPQ" 79,
    "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;

  --color-blue: #2949d1;
  --color-red: #f0005c;
  --color-green: #a0d100;
  --color-green-accent: #c4ff6b;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #A8ADBE;
  --color-gray-light: #DCDEE5;
  --color-gray-dark: #212121;

  --body-bg: var(--color-light);
  --text-color: var(--color-dark);
  --color-border: var(--color-dark);

  --color-link: var(--color-blue);
  --color-link-hover: color-mix(in srgb, var(--color-link) 85%, black);

  /* animation */
  --animation-bump: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  /* helpers */
  --space: 2rem;
  --space-section: calc(var(--space) * 3);
  --space-text: 2rem;
  --text-width: calc(1000px + (var(--space) * 2));
  --mid-width: 1180px;

  --screen-padding-top: 6rem;
  --screen-padding-left: 3rem;

  /* this should be adopted globally */
  --layout-sidepadding: var(--space);
}

@media screen and (max-width: 580px) {
  body {
    --screen-padding-top: 4rem;
  }
}

@media screen and (max-width: 450px) {
  body {
    --space: 1.2rem;
    --screen-padding-left: 1.5rem;
  }
}
