<div class="numbers" aria-hidden="true">
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
  <span class="numbers-text">010001010100101010101001010101000100101001000101010010101010100101010100010010100100010101001010101010010101001001010101000100101001000101010010101010100101010100010010100100010101001010101010010101010001001010100101001010001001010010001010100101010101001010101000100101010001001010101000100101001000101010010101010100101010100010010100100010101001</span>
</div>


<style scoped>
  .numbers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .numbers span {
      display: inline-block;
      color: var(--color-blue-light);
      font-size: 1rem;
    }

  .numbers span:nth-child(n) {
      animation: NumbersDown 160s linear 0.2s infinite;
  }

  .numbers span:nth-child(2n) {
      animation: NumbersUp 160s linear 0.2s infinite;
  }

  .numbers-text:not(:last-child) {
      margin-right: 12px;
  }

  @keyframes NumbersDown {
      0% {
      transform: translateY(-100%);
      }
      100%{
      transform: translateY(0);
      }
  }

  @keyframes NumbersUp {
      0% {
      transform: translateY(0);
      }
      100%{
      transform: translateY(-100%);
      }
  }
</style>